[2016-04-18 10:07] gaearon commented on #357
When React officially supports error boundaries (https://github.com/facebook/react/pull/5602 started work on this, and you can track it in https://github.com/facebook/react/issues/2461), you’ll be able to catch those errors. We can’t really do anything on the library level here because it’s impossible to guess every possible combination of things going wrong.

[2016-04-18 10:07] #357 closed

[2016-04-18 10:11] gaearon commented on #356
👍

[2016-04-18 14:25] gaearon commented on #115
This is fixed in [React Hot Loader 3](https://github.com/gaearon/react-hot-boilerplate/pull/61).
It is built with lessons learned from both React Hot Loader and React Transform.
It’s still in alpha but I encourage you to [check it out](https://github.com/gaearon/react-hot-boilerplate/pull/61)!

[2016-04-18 14:25] gaearon commented on #220
This is fixed in [React Hot Loader 3](https://github.com/gaearon/react-hot-boilerplate/pull/61).
It is built with lessons learned from both React Hot Loader and React Transform.
It’s still in alpha but I encourage you to [check it out](https://github.com/gaearon/react-hot-boilerplate/pull/61)!

[2016-04-18 14:37] rybon commented on #220
Awesome, I will check it out! Thanks for all your hard work, I really appreciate it.

[2016-04-18 18:58] glenjamin commented on #115
@gaearon Great stuff! ran into this today when teaching redux to someone. I'll give it a whirl :)

[2016-04-19 04:24] cpunion opened #359 "Hot reloading failed with react-native"
I don't know react-native or react-redux has the problem, but I think it be ignored if I post it as react-native's issues.

I created a project to reproduce this: https://github.com/cpunion/ReproRN24HMRWithReactRedux

**Create steps**

[code]

**Test steps**

* open ios/TestHMR24.xcodeproj
* run on simulator
* enable Hot Reloading

<img width="322" alt="2016-04-19 12 10 59" src="https://cloud.gith

[2016-04-19 04:45] cpunion commented on #359
Updated repo, touch view may see the state changes.

[2016-04-19 05:26] cpunion commented on #359
I found my code has error, react-native's HMR has different module.hot.accept method, it isn't `accept(path, callback)`, it's `accept(callback)`, so it just used in module. I fixed code, but same result.

[2016-04-19 05:32] cpunion commented on #359
Used a workaround, just put store into a state or object field:
[code]

[2016-04-19 07:50] andreechristian opened #360 "Redux.replaceReducer throw error "Unexpected key found""
Hello,
I tried to do a code splitting on route change.

When the route changes to '/register', i dynamically add "registration" as one of the root state using replaceReducer and it work just fine.
Once the registration completed i want to remove the reducer using replaceReducer again, but instead it return the following error :

Thanks in advance

[2016-04-19 08:35] chodorowicz commented on #312
Writing looks better `() <> {}` 😉

[2016-04-19 10:14] gaearon commented on #359
This is not really our issue so closing. The error comes up if Provider receives a different store instance via props. It is up to you to figure out how to avoid it in your setup.

[2016-04-19 10:14] #359 closed

[2016-04-19 10:16] gaearon commented on #360
I think you should file this in Redux proper, not React Redux. This is probably a bug but I’m not sure if there is a good fix for this other than disabling the warning altogether.

[2016-04-19 10:16] gaearon commented on #360
Note this is not an error. It is just warning.

[2016-04-19 10:25] andreechristian commented on #360
Noted. I'll submit this bug on Redux. Thanks ya!

[2016-04-19 10:25] #360 closed

[2016-04-19 22:06] chrishoage commented on #210
@gaearon would something like Alt.js `componentDidConnect` be applicable to `react-redux`? This seems like a valid case that would be nice to have support for.

https://github.com/altjs/connect-to-stores/issues/6

https://github.com/altjs/utils/blob/master/src/connectToStores.js#L80-L88

[2016-04-19 22:37] gaearon commented on #210
1) Adding custom lifecycle hooks isn’t a great API moving forward as React is trying to get away from classes. This wouldn’t work for functional stateless components or (future) functional stateful components.
2) I’m not sure what use case this would solve? The changes will be “picked up” in any case, it’s just that they will get picked up on the next render. If not, please submit a failing test c

[2016-04-20 02:17] cpunion commented on #359
@gaearon Thanks.

Is it a problem of `react-native` hot reloading? I found no problem in some `react-redux` hot reloading examples likes https://github.com/erikras/react-redux-universal-hot-example/blob/master/src/client.js#L46

[2016-04-20 05:03] chrishoage commented on #210
That is a good point.

After more thought, the cases I was thinking of could be solved with firing actions in React Router event handlers.

Thanks for explaining!

[2016-04-20 12:10] gaearon commented on #359
I don’t know. You can ask in their repo :-)

[2016-04-20 15:52] nmaves opened #361 "How can I access the store in non react components?"
We have a standard react-redux setup but we have a plain old api service class that need some of the information that we store in our redux state.  This service class is used by all of our components to access our backend.

I understand that I could pass the info from a component to our service class functions but I would have to do that everywhere.

I can't seem to find a solution for this.  Has

[2016-04-20 15:57] markerikson commented on #361
The general answer to that is "middleware".  Either write a middleware that listens for custom actions you dispatch and makes the API calls itself, or something like redux-thunk that runs dispatched functions and injects the correct store functions.

http://chrispearce.co/redux-quick-hack-custom-thunk-apis/ explains the usefulness of thunks.  Also, if you look at the [Middleware](https://github.co

[2016-04-20 16:05] gaearon commented on #361
Yep, middleware is the way to go.

[code]

[2016-04-20 16:05] #361 closed

[2016-04-22 08:07] chenxiaohu opened #365 "re-render when user react-native NavigationExperimental/NavigationLegacyNavigator.js"
When use NavigationExperimental/NavigationLegacyNavigator.js as navigator, all container components connected to redux store rendered by any action.
Old navigator has not this problem.

[2016-04-22 11:11] gaearon commented on #365
Can you provide an example that reproduces this?

[2016-04-22 14:19] chenxiaohu commented on #365
[src.zip](https://github.com/reactjs/react-redux/files/231960/src.zip)

this example toggle navigator can reproduces.

[2016-04-22 14:22] gaearon commented on #365
I don’t know React Native well. How do I launch this repo?

[2016-04-22 14:29] chenxiaohu commented on #365
Do you ever try any React Native project, even Get started project?

[2016-04-22 18:56] gaearon commented on #365
Yeah. But usually they come with Xcode projects, don’t they?

[2016-04-22 19:27] gaearon commented on #365
Okay, I got it to run. Can you please clarify *which exactly* actions you do not expect to cause components to re-render?

[2016-04-22 20:19] gaearon commented on #365
If I change `renderList(list)` in `Comment.js` to dispatch an action on click, I don’t get any log messages about re-renders:

[code]

Therefore, “any action” does not cause “all container components” to re-render, so it looks like there is no bug here.

When I run the app for the first time, I see this:

[code]

It looks correct to me: we first render the initial state, which is an empty screen,

[2016-04-22 20:19] #365 closed

[2016-04-22 20:21] gaearon opened #366 "Investigate when a context from another library causes us to opt out of perf optimizations"
Related to #99 and the follow-up issues and pull requests.
I’d like to understand better in which cases we have the behavior described in https://github.com/reactjs/react-redux/issues/365#issuecomment-213575855:

Is just having another component providing context enough to trigger this? Is there any way we can work around this?

[2016-04-22 23:01] chenxiaohu commented on #365
Great! your answer is prefect for me. thanks:)

[2016-04-22 23:41] seanstrom opened #367 "When to default mapStateToProps and mapDispatchToProps"
In #363 we were discussing a potential refactor, and in that refactor I came across some interesting behavior. The `connect` function will default the `mapStateToProps` and `mapDispatchToProps` arguments if necessary. Here are the current conditions:

* `mapStateToProps` is defaulted to `defaultMapStateToProps` when the argument is a falsy value.
* `mapDispatchToProps` is defaulted to `defaultMapD

[2016-04-23 00:14] gaearon commented on #367
Wherever possible we want to fail early on bad values. I haven't taken time to make the error messages great in this library so feel free to work on it!

[2016-04-23 00:51] seanstrom commented on #367
Cool I'll start working on this and I'll open a PR later, thanks for the quick response :smile: !

[2016-04-25 00:31] gaearon opened #368 "Use transactional setState() inside connect()"
We currently delay calling `mapStateToProps` and `mapDispatchToProps` in the common case because it is too early to supply `ownProps` inside `handleChange`, as those props may themselves be obtained from the previous version of the state by the parent component, and may not have been received as the new props just yet, so we bump into issues with staleness (#86).

Right now we call them inside `re

[2016-04-25 04:19] Yixi opened #369 "use connect() with immutable js"
I create redux store use the facebook immutable js.
so I get state in my component like this:

`@connect(state => { rules : state.get('rules').toJS() })`

because connect only receive the plain object, so I need use `toJS` to pass object to connect.

there is a problem , my `rules` is a array of object like `I.fromJS([{id: 1} , {id: 2}, {id, 3}])`

so every time `state.get('rules').toJS()` result

[2016-04-25 06:35] amccloud commented on #368
Looking into it! I'm trying to wrap my head around what would no longer be necessary. Looks like this could clean up quite a bit of hand holding around `haveStatePropsBeenPrecalculated` and stateProps in `render()`.

[2016-04-25 09:55] amccloud commented on #368
Making progress. 8 failing test mostly around invocation counts. Will work on this more tomorrow.

[2016-04-25 11:55] gaearon commented on #368
Awesome! If you get stuck please feel free to share your work in progress so somebody can pick it up later.

[2016-04-25 12:14] gaearon commented on #369
`toJS()` negates many benefits of Immutable because you’re spending work assembling plain objects.

While technically you can ensure referential identity with [Reselect](https://github.com/reactjs/reselect) because selectors memoize their outputs when the inputs are the same, I would suggest just using Immutable props in your components directly. `Record`s make this fairly neat, with no need for `

[2016-04-25 12:14] #369 closed

[2016-04-25 20:02] slorber commented on #368
Really happy to see all those red lines on first commits :)

[2016-04-25 20:03] udnisap commented on #368
My approach was to use `haveMergedPropsChanged` as the flag for `shouldComponentUpdate` and call
`updateDispatchPropsIfNeeded` `updateStatePropsIfNeeded` based on the requirement.

I also added the following lines which needs to be run if required.
[code]

I can work on the rest of it tomorrow. If someone wants to continue take it.

[2016-04-26 01:39] amccloud commented on #368
https://github.com/amccloud/react-redux/commit/21f0b437ff8c609dfebe51a579cc04e829dc3400

@gaearon  Now i'm stuck! I've gotten all but 3 test to pass:

[code]

I had to update one test because re-rendering is now driven by setState. I think the other test failures 2 and 3 are similar.

My notes: https://gist.github.com/amccloud/327a9d7b7dc97eaf6bb3f1f3da9e2d5e

[2016-04-27 15:19] abhiaiyer91 opened #370 "Binding other context through the Provider"
Hey all,

Today the Provider takes in the `store` prop and binds it to the Provider class and into context types. Over at http://docs.apollostack.com/ we're trying to build a data layer for any backend and Redux is our primary tool for dumping the various data sources to the client.

Currently, we've had to make a carbon copy of `react-redux` and thats because our Provider needs to bind the instan

[2016-04-27 16:32] gaearon commented on #370
Hi!

We use `store` as the context type name. Lots of apps, libraries, and tutorials already rely on this, so changing the context type name or putting something else there would be a huge breaking change that I’m not will to take.

Context types have to be specified at the type definition time. So we can’t dynamically add another context type name based on props either.

I understand what you wan

[2016-04-27 16:32] #370 closed

[2016-04-27 16:54] abhiaiyer91 commented on #370
Thanks Dan, I think that is a fine solution

[2016-04-28 08:14] akoshman opened #371 "React 15.0.x support"
Hi all,

How about 15.0.x support? React made some changes in API and current version of react-redux doesn't work with latest React :)

Thanks

[2016-04-28 11:06] TrySound commented on #371
@akoshman It's supported https://github.com/reactjs/react-redux/blob/master/package.json#L98
How it doesn't work? Show your code and config.

[2016-04-28 11:30] gaearon commented on #371
Yeah, it is supported just fine!

[2016-04-28 11:30] #371 closed

[2016-04-28 12:37] krukid opened #372 "v4.4.4 appears to prevent components from receiving context changes"
I have a project based on https://github.com/erikras/react-redux-universal-hot-example and one of my components needs to check `router.isActive(someUrl)` whenever a route changes and update its style/markup. The router object is accessible from components via context. Since `react-redux` v4.4.4 the component no longer updates (`render`, `shouldComponentUpdate`, `componentWillReceiveProps` are not

[2016-04-28 12:59] gaearon commented on #372
Context updates are notoriously broken with `shouldComponentUpdate` (https://github.com/facebook/react/issues/2517). If a library you use relies on them, you should be using impure version of `connect()`. We can’t protect against random breakage in patch versions here because you are essentially relying on known buggy behavior.

Please pass `{ pure: false }` to any `connect()` calls in the hierarc

[2016-04-28 12:59] #372 closed

[2016-04-28 13:22] akoshman commented on #371
Thanks for help guys

[2016-04-28 14:27] krukid commented on #372
This makes me sad. I guess I'll wait for [react-router v2.4.0](https://github.com/reactjs/react-router/blob/master/upgrade-guides/v2.4.0.md) that will seemingly address this problem.

[2016-04-28 16:28] gaearon commented on #372
It makes many people sad but that’s our reality :-/.
As a library we can’t really guarantee whether context propagates or not because the whole thing is buggy.

[2016-04-29 10:07] krukid commented on #372
Just tried `react-router v2.4.0` that allows receiving the router via props, but that doesn't work with `react-redux v4.4.4` either. Passing location prop all the way down the component hierarchy seems to be the way this is going. I just hope some kind of consensus is established among the major players in the React world on how to propagate global state without clutter. Meanwhile the little peopl

[2016-04-29 11:17] gaearon commented on #372
Sorry but 2.4.0 had no relation to this issue. `withRouter` that was added there just exposes context as a prop but it doesn't affect how that context is actually updated.

https://github.com/reactjs/react-router/issues/470 is still open. This is the issue you want to be tracking.

I documented a workaround above. Please don't “suffer”, just use `{ pure: false }` in the meantime. This is exactly w

[2016-04-29 11:30] krukid commented on #372
Ok, will do, thanks :)

[2016-04-30 14:33] slorber commented on #292
@tappleby

I agree with that.

It looks to me an antipattern to have `Parent > Child`, both using `connect`, and parent passing down props to child. If Child has to receive props from Parent, the parent could pass as props everything the child needs. I don't really see any advantage of the child receiving state from both props and connect at the same time and it's probably better to choose one or

[2016-04-30 14:43] gaearon commented on #292
AFAIK the plan in React is to always batch eventually so this might become a non-issue later.

[2016-04-30 21:35] slorber commented on #368
@gaearon I'm also looking at the code and how this can be simplified.

I have some idea but wonder what you think. Do you expect to call `mapStateToProps` always during `handleChange`? Because I've seen in the past that you did run computations inside `shouldComponentUpdate`, which seems not good but maybe there was a good reason for that?

[2016-05-01 00:27] slorber commented on #368
@gaearon is there a reason why the test `calls mapState and mapDispatch for impure components` expect 2 calls to mapState/mapDispatch on mount? For me only one should be required.

[2016-05-01 01:51] slorber commented on #368
@gaearon it was quite hard and the code is not clean yet but I made all tests pass!

You can take a look at [#373]

At first I thought that I would never be able to make pass the last test related to the stale props when both parent/child are connected, because the transactionnal setState callback can be called multiple times in a single batch.

I had to use a trick like that:

[code]

@tgriesser

[2016-05-02 09:50] jtadmor commented on #269
@gaearon @slorber @mhodgson

Was playing around with one attempt at splitting the core connect features into two different HOC: connector and cacher.

https://github.com/jtadmor/react-redux/commit/b829ece0688f71b0b5acb2ed73233f075487d8d6

The basic idea is that cacher should not know at all about the store or where state comes from. It receives all of the old connect() arguments, but doesn't actua

[2016-05-02 10:09] slorber commented on #269
At first glance I like the extensibility and decomposition of the problem but I'm not sure it would be nice for performances to have 2 wrappers instead of one, when we already focus on optimizing the single one we currently have.

I don't know what @gaearon exactly had in mind when saying

But I guess the idea is that the caching logic would be an utility function instead of a new wrapper, to avoi

[2016-05-02 10:25] jtadmor commented on #269
Yes, after having quickly made these changes I'm realizing that some coupling is necessary because if you just subscribe without any filter, you already make way too many `setState` calls before you even get to the Cacher component.

Perhaps I'll try to organize something like this:

[code]

But we still have the major problem, I think, that the `handleChange` method is deeply tied to the implemen

[2016-05-02 20:18] sean-shirazi opened #374 "Can a component dispatch actions before its children render?"
I'm trying to store some props from react-router into the store and use it somewhere down the hierarchy. My tests show that in the code below, when app receives props and dispatches an action, the child will receive the new store state when it's rendered.
But I just want to make sure that there won't be any race conditions or any other surprises. Also if you think there is a better way to achieve

[2016-05-04 04:54] broadsw0rd opened #375 "Async handling store state changes to increase performance"
Although `react-redux` positioning itself like performant solution for connecting react components to the redux store. However it rerender components on each store state changes [synchronously](https://github.com/reactjs/react-redux/blob/master/src/components/connect.js#L199),
that can be an issue, if store changes very frequently([proof](https://github.com/broadsw0rd/react-redux-perf#react-redux-

[2016-05-04 18:46] gaearon commented on #375
I wouldn't be comfortable doing something as invasive by default. It makes testing and debugging harder, and introduces potential issues with some browser APIs that expect synchronous updates within an event handler (example: managing an `audio` tag on iOS).

I would keep it opt in with tools like https://github.com/tappleby/redux-batched-subscribe/. In the future React itself will learn to delay

[2016-05-05 05:03] broadsw0rd commented on #375
Glad to hear that this issue will be fixed on react level. :+1:
And thank you for detailed answer

[2016-05-07 05:08] #375 closed

[2016-05-09 14:44] omerts opened #376 "connect obscures wrapped component's API"
Hello,

We have a generic container component that calls sub-component's api methods. Wrapping our sub-components with connect obscures the sub-component's api, and therefore the container can't call its functions.
Using getWrappedInstance() isn't a good option as the container component is unaware of redux, and we want it to stay that way.
A good solution could be that the connect component will

[2016-05-09 16:09] gaearon commented on #376
Hi! This has been suggested before in #165 but we are unlikely to implement this, as there are way too many edge cases.

Putting imperative methods on a component is an escape hatch and is not idiomatic React code. If this is very important to you, you can write a custom `connect()` wrapper that also creates proxies for the instance method on the returned class. However we won’t add this feature t

[2016-05-09 16:09] #376 closed

[2016-05-09 19:18] omerts commented on #376
@gaearon First of all thank for the impressively quick response (and overall great work).
Sorry I missed #165.

IMHO saying pure imperative methods is not idiomatic React is incorrect. A way of communicating with components through exposing a component function is part of the React docs:
https://facebook.github.io/react/tips/expose-component-functions.html

It even states at the end that passing p

[2016-05-09 19:53] gaearon commented on #376
Yeah, but it is explicitly listed as “uncommon”. I understand your use case but it’s rare enough that I would rather not bake it into the lib and have to support all the edge cases that come out of it (e.g. someone can define a `handleChange` method but it already exists on `connect()`ed component). If you’d like this to exist, please implement it on top of `connect()` manually.

Unless you’re spe

[2016-05-09 20:02] omerts commented on #376
Ok I understand your point.

Just as a side note, you could only fallback to the component's interface in case the function isn't implemented in the _connect_ component, or throw an exception if a "reserved" function name is used.

[2016-05-09 20:43] gaearon commented on #376
This would make any internal change in `connect()` a potential breaking change because adding, removing, or renaming methods may cause methods with the same name to suddenly stop working in your app. This is a huge liability I’m not willing to take. It would make aggressive refactors like #373 much harder.

[2016-05-10 13:36] anaibol opened #377 "Duplicated dependencies"
I am not sure it's something relative to react-redux, redux or webpack.
Using both on a project I have a duplicated module of lodash.
![selection_036](https://cloud.githubusercontent.com/assets/3210177/15148298/da854b82-16c4-11e6-852f-daa607fe17dd.png)
Is that something normal?

[2016-05-10 14:05] gaearon commented on #377
You can use [`npm dedupe`](http://4waisenkinder.de/blog/2014/06/09/flatten-your-dependencies-with-npm-dedupe/) to make it more flat. Also it’s best if you use npm@3 which dedupes better by default.

[2016-05-10 14:05] #377 closed

[2016-05-12 04:03] andrevenancio commented on #303
if components can be stateless this actually works

[code]

Then in your `SomeComponent` all the normal lifecycle methods from ReactTransitionGroup will be called.
You can now plugin the TweenMax to do your transitions In / out before calling the callbacks 👍
[code]

[2016-05-12 09:23] landabaso commented on #372
@gaearon, AFAIK react-redux also relies on the context feature of React. So does that quote above also apply to react-redux itself? Say, for instance:
[code]

a) The parent's `shouldComponentUpdate` returns `false`.
b) Child is connected to some part of the `state` that changes.

Will it render? Do we need to pass `{ pure: false }`?

[2016-05-13 13:33] gaearon commented on #372
@landabaso React Redux only uses context for dependency injection of the `store`. The future updates work because `Child` subscribes to the `store` directly via `store.subscribe()` API.

@krukid I sent a few PRs to fix this in React Router, and it won’t be an issue in 3.0 anymore.

[2016-05-13 14:58] DWboutin opened #378 "Props are missing from components when using React.cloneElement to add props to children"
Hi,

I'm having a main page "Registration" who is connected with `import { connect } from 'react-redux';`. I pass the props i want to the children of this page (3 differents pages/forms) with `React.cloneElement`.

[code]

When i build in development environnement, i got these errors for each child and each props needed into them:
[code]
"ConnectionInfosContainer" is the direct child of "Registrat

[2016-05-13 15:56] gaearon commented on #378
You specified `dispatch` as a required prop. However, React checks props *at the time an element is created*. So even if you `cloneElement()` later, you’ll see a warning.

There is no way to solve this because we never know if `cloneElement()` is called in the future. You can suppress the error by defining something like

[code]

so that you get a no-op by default.

In the future, we recommend tha

[2016-05-13 15:56] #378 closed

[2016-05-14 16:23] sevenLee opened #379 "Why I can't bind state to this.props on component which is in iframe?"
I have a specific scenario in my react/redux/express universal project (server-side rendering).

(1)First I defined my routes like so: [ routes.jsx ]
[code]
As you see, when url route is: **localhost:3000/preview**, react-router will use **AnotherView** component.

(2)Now focus on ThemeIndex component: [ ThemeIndex.jsx ]

[code]

(3)Frame component like so: [ Frame.jsx ]

[code]

Here I use iframe

[2016-05-14 16:53] markerikson commented on #379
This is a usage question, and really should be asked on Stack Overflow instead of here.  Github issues should be used for actual bugs or concerns with the library itself.

[2016-05-14 16:53] #379 closed

[2016-05-16 04:31] sevenLee commented on #379
I can't get the latest state in iframe (source is React component),  when I changing state in another component, and actually the mapStateToProps was triggered! but the state is not the latest in mapStateToProps function. it does not really concerns with the react-redux library?

[2016-05-16 10:52] sevenLee opened #380 "It should get the latest state on component which is in iframe."
Normally, the state changing (redux application state), it will trigger other component to get the latest state. I think it should get the latest state in component which is in iframe. That is the problem I encountered.

I can't get the latest state in iframe (source is React component), when I changing state in another component, and actually the mapStateToProps was triggered!(means iframe source

[2016-05-16 11:21] gaearon commented on #380
Hi! Unfortunately there is no way we could help you unless you provide a project consistently reproducing the issue, with exact instructions to reproduce it. Thanks!

[2016-05-16 11:30] Andarist opened #381 "defaultMergeProps and checkMergedEquals issue"
Hey,
I think I've found a bug, but I might be missing something here, so an explanation would be greatly appreciated in case I'm wrong. :) Let me describe the issue:

1. Not supplying custom `mergeProps` is defaulting it to `defaultMergeProps` (obviously ;) )
2. and therefore we land with `checkMergedEquals === false` ( cause `const checkMergedEquals = pure && finalMergeProps !== defaultMergeProps

[2016-05-16 11:38] gaearon commented on #379
I replied to the question.

For future reference, code samples in a question are fine on StackOverflow, but if you think you hit a bug, and raise an issue, please provide a full project so that maintainers don’t need to spend time copying and pasting your code and installing the corresponding libraries.

Cheers!

[2016-05-16 11:39] gaearon commented on #381
Please feel free to provide a failing test and a solution!

[2016-05-16 11:41] Andarist commented on #381
I can make a PR with a fix, would only like to hear if my reasoning is not wrong, cause I could have miss something. And probably what cases should I consider when fixing - as probably whole `checkMergedEquals` had some reason behind implementing it :)

Gonna read commit history later, maybe that will help

[2016-05-16 14:02] sevenLee commented on #380
@gaearon  Thanks of your kind reply! I already got your answer in stackoverflow. maybe I should not separate partial app from the whole web app in iframe, it was not allowed in redux structure?

[2016-05-16 14:36] gaearon commented on #380
This is not related to Redux. Any state (not just Redux state) will get duplicated in an iframe because **an iframe is an independent instance of the whole app**. It’s like if you opened it in a different tab—each tab is completely isolated.

I don’t understand why you’re using iframes at all. But if you need them (make sure you know why!), please use something like `react-frame-component` to have

[2016-05-16 14:36] #380 closed

[2016-05-16 14:59] gaearon commented on #381
I don’t remember that so creating a failing test is the best way to figure out if there was a reason or not

[2016-05-16 19:33] sevenLee commented on #380
I already uploaded my whole project, please check it: https://github.com/sevenLee/ServerSideRedux.git
npm install, then npm run dev. I would like to real time change the iframe page by outer component, it is like template generator app. I can define custom style on iframe page (like a theme), that is my real object.

[2016-05-16 20:07] gaearon commented on #380
Thanks, but I still don’t understand why you want to use iframes rather than render the component that implements a preview directly.

[2016-05-16 20:22] sevenLee commented on #380
The main reason is the iframe page has its own css theme style, if I render directly, the theme preview page will be polluted by outer css style... that why I need iframe. The tricky is I used react component  to be the iframe page through react route....is it appropriate architecture?

[2016-05-17 09:42] darul75 opened #382 "refactoring with HOC connect and mergeProps"
Hi,

I have updated some parts of our codes with deep use of connect hoc, sometimes mergeProps function was needed and it worked like a charm. My only question is about how we could improve how we deal with a new function that is recreated each time and if it might be possible to avoid that.

considering this example

[code]

I have made some tests of [whyDidYouUpdate](https://github.com/garbles/w

[2016-05-17 11:27] gaearon commented on #380
This is the real problem. I think you need to find a way to isolate styles so it’s possible to render two components with different themes in one app. This can be done by using specific CSS class names for each themes, and passing corresponding class names to the components.

[2016-05-17 14:01] sevenLee commented on #380
Yeah, If I really want the iframe.....is it possible pass the store into iframe? Because iframe source link page with react-router, do you have any idea pass store through Route or get the sync store in inner component (in iframe)? I use <Provider> to pass store to component, how I get the store in component? If I still use connect(), can I get the store manually?

[2016-05-17 14:45] gaearon commented on #380
Have you looked into using https://github.com/ryanseddon/react-frame-component?

[2016-05-17 14:53] sevenLee commented on #380
Yeah I just had a glance it, I am not sure that is what I need, I try to use it to combine with iframe and react-route now.....thank you:)

[2016-05-17 16:17] gaearon commented on #380
You would need to do anything with React Router for it though. This *is* the component that renders to an iframe—you don’t need to “combine it with an iframe” either. The point is that anything inside `<Frame>` would get rendered into a separate frame, so you can render your CSS there *and* the component itself. Not the `<script>` bundle.

[2016-05-17 17:00] gaearon commented on #382
I don’t think there’s any simple way to avoid it.

The best way to solve this is to have the components pass those values directly in the callbacks.
You can introduce intermediate components that do just that, if you’d like.

[2016-05-17 17:00] #382 closed

[2016-05-17 17:18] darul75 commented on #382
Ok thanks dan

[2016-05-17 18:30] sevenLee commented on #380
The package works so great! I don't need to use react-router to decide iframe source any more, I directly put the component I want to display inner < Frame > , the component will render in iframe, like so:
[code]
The most awesome feature is the state is synchronous ! the inner component works the same as outer component. Now I can dynamically change inline style in inner component. That is big pre

[2016-05-17 18:37] sevenLee commented on #380
I don't know why the inner state could be synchronous even the component in iframe? What the magic in react-frame-component? amazing!

[2016-05-18 09:26] fbacker opened #383 "Using 'store' on base class"
I'm using a base class for some components. However when using redux I get an issue with connect. This only happens when trying to use connect with the base class **'DockerWindow'**. If I only use it on a child **'DockChat'** it works. How can I access the **'store'** on **'DockerWindow'** (a base class)?

    DockerWindow
    -> DockChat
    -> DockOnline

Error:

	react-redux
	connect.js?243b:12

[2016-05-18 09:58] fbacker commented on #383
Finally after hours of trying it works.

For **'base class'** use contextTypes only

	DockerWindow.contextTypes = {
	    store: PropTypes.object
	};
	export default (DockerWindow);

and in children use connect

	DockOnline.contextTypes = {
	    store: PropTypes.object
	};
	export default connect(mapStateToProps,mapDispatchToProps)(DockOnline);

[2016-05-18 09:58] #383 closed

[2016-05-18 13:08] gaearon commented on #380
Great, I’m glad it worked for you. The state is in sync because there is just one instance of your app. Inside of using iframe as a container for the app with its own `<script>` tag, `react-frame-component` just [uses `ReactDOM.render()`](https://github.com/ryanseddon/react-frame-component/blob/1770610ddbfcf4362e3d75f8b8268946ce9fcd14/index.js#L88) (well, not quite, but pretty close) into the ifra

[2016-05-18 13:10] gaearon commented on #383
Please don’t use inheritance with React. It is actively discouraged.
Rather than do

[code]

you should do something like

[code]

[2016-05-18 18:20] vitosamson opened #384 "connect's state.storeState becomes out of sync with context.store.getState()"
I'm running into a really weird issue. I've got a Breadcrumbs component with the reducer, actions and component below.

Everything works fine until about the fifth time that the `addBreadcrumb` action is fired. When that happens, I see the action get logged in console, I see the correctly updated state in the `next state` part of the log, but my Breadcrumbs component is not receiving the updated s

[2016-05-18 18:28] gaearon commented on #384
The code looks good. Any chance your `Breadcrumbs` component implements a bad `shouldComponentUpdate`? Have you tried logging when it gets rendered, or logging the value you get in `mapStateToProps`? It’s hard to say what goes wrong without a reproducing case.

[2016-05-18 18:35] vitosamson commented on #384
The component doesn't implement `shouldComponentUpdate` at all, nor do any of the components above it in the hierarchy. I added logging in both the `render` and `componentWillReceiveProps` on the Breadcrumbs component, and it shows the (inconsistent) state from `Connect.state.storeState`. Adding a log in the `mapStateToProps` fn shows the same.

Interestingly, nothing gets logged at all after the

[2016-05-18 18:39] gaearon commented on #384
Can you try updating `react-redux` and `redux` to their latest versions?

[2016-05-18 20:14] vitosamson commented on #384
Looks like this was actually an issue in a different part of my code (a faulty `onEnter` hook in my routes). Figured that out when other parts of the app started misbehaving in the same fashion after five route changes 😄

Thanks anyway for the quick response and all your hard work on redux, @gaearon!

[2016-05-18 20:14] #384 closed

[2016-05-18 21:09] gaearon commented on #384
No problem! Happy you got it resolved.

[2016-05-19 10:19] aDeadFish opened #385 "with same props in shouldComponentUpdate"
I'm having an issue with Redux, when I try to implement shouldComponentUpdate for a component, this.props already holds the same value as nextProps。I don't understand why this would happen. Is there any way around it?

[2016-05-19 12:33] gaearon commented on #385
It is hard to say anything because there is no code sample and it is not clear how you compare the props. I will close as this appears to be a usage question, and we ask that you ask them on StackOverflow instead. This is a bug tracker and not a support forum. That said feel free to post a link to your question with example code and I'll try to take a look. Thanks!

[2016-05-19 12:33] #385 closed

[2016-05-20 02:29] aDeadFish commented on #41
Hi ，I had the same problem. Can you tell me the solution or the reason

[2016-05-20 13:28] RezaRahmati opened #386 "How to call actions right after each other"
Hello

I have a problem that I cannot figure out how to tackle that with react-readux

I have an app which constantly produce some logs (from beacon device) and store them in state (consider 2 logs/second). Then I need to send this logs sequentially to server api and remove them from the state.
Since calling api might take times I cannot call them in loop, because I need the first api call be done

[2016-05-20 15:32] gaearon commented on #386
Please ask the usage questions on StackOverflow.
We use the issue tracker for bug and feature requests only.
Thanks!

[2016-05-20 15:32] #386 closed

[2016-05-20 15:50] RezaRahmati commented on #386
OK, this is the link for my question [http://stackoverflow.com/questions/37350783/how-to-call-actions-right-after-each-other-in-react-redux](url)

[2016-05-20 23:45] gelguy commented on #381
I think this is working as intended.

The variable `checkMergedEquals` indicates whether or not we need to do the `shallowEqual` comparison on the old mergedProps and next mergedProps.

[code]
The condition to reach `updateMergedPropsIfNeeded` is if stateProps, dispatchProps or ownProps has changed. This implies that at least one of these are not shallowEqual to its previous counterpart.  Therefor

[2016-05-22 02:19] ffxsam opened #387 "Uncaught TypeError: Cannot read property 'displayName' of undefined"
disregard

[2016-05-22 02:25] #387 closed

[2016-05-22 16:44] thomasboyt commented on #98
@gaearon Any thoughts on reopening this now that Redux has an official definition?

There's a really nasty issue right now where the DefinitelyTyped react-redux definition doesn't actually work correctly with the officially-maintained Redux definition, only the DT Redux definition. It'd be nice if there was an official definition for react-redux that was kept in sync with the official Redux defini

[2016-05-22 17:29] gaearon commented on #98
Happy to accept a PR adding a definition. I just can't create one myself.

[2016-05-22 22:53] olalonde opened #388 "connect prevents LinkContainer from marking links as active"
Took me a while to figure this one out. For some strange reason, when I use connect to decorate my component, `<LinkContainer>` stops marking links as active. If I remove the `connect()(Header)` call, `<LinkContainer>` works as expected.

[code]

Here's the behaviour I get when using connect:

![gif](http://g.recordit.co/FHbgKYv8N8.gif)

Thinks those are related but I can't figure out a quick/offi

[2016-05-22 22:53] gaearon commented on #388
This is fixed in React Router `3.0.0-alpha.1` and newer.

[2016-05-22 22:53] #388 closed

[2016-05-22 22:54] gaearon commented on #388
In fact the last comment in the issue you linked says exactly that 😉
https://github.com/reactjs/react-router/issues/470#issuecomment-220491445

[2016-05-22 23:06] olalonde commented on #388
@gaearon thanks. Upgrading to React Router `3.0.0-alpha.1` doesn't appear to have fixed the problem :(

[2016-05-22 23:09] olalonde commented on #388
Just tested with `<Link>` directly and same problem.

[2016-05-22 23:12] olalonde commented on #388
[code]

fixed the problem.

[2016-05-23 00:09] gaearon commented on #388
The Link component is fixed in router 3.0 alpha 1. Not the LinkContainer component from the router bootstrap package. Unfortunately it doesn't even use the Link directly so it doesn't benefit from the Link being fixed. I will file an issue there.

[2016-05-23 00:12] olalonde commented on #388
@gaearon ah ok thanks. Any idea why `withRouter()` fixed the problem anyway?

[2016-05-23 00:36] gaearon commented on #388
@olalonde Because both `withRouter()` and `Link` contain the necessary fix.

[2016-05-23 00:37] gaearon commented on #388
FWIW you can use `withRouter(LinkContainer)` as a temporary measure.

[2016-05-23 08:56] fbacker commented on #383
Thanks for that gaeron, as a dev I've had some issues understanding how to extend classes. Now finally it all makes sense 👍

[2016-05-24 08:36] nmn commented on #264
perhaps connected: #389

[2016-05-24 10:04] kristian-puccio commented on #264
If you haven't seen this is worth a look.
http://makeitopen.com/tutorials/building-the-f8-app/testing/

Also there are some flow definitions here:
https://github.com/flowtype/flow-typed

[2016-05-24 10:37] yn5 commented on #210
@chrishoage Did you manage to dispatch actions in the `react-router` event handlers and use the changed data in the component? I'm getting the same results as I would when dispatching in `componentWillMount`.

@gaearon I'm having the issue where I need the changes in my first render because it being on the server side and if it would be picked up later it causes my server side rendered HTML would

[2016-05-24 11:14] gaearon commented on #210
Usually the solution is to *hydrate data first* and then render. So rather than render in a lifecycle hook, you would get the matched components from the router, call a static method on them which dispatches an action, and wait for the promise to resolve. Does this make sense? https://github.com/markdalgleish/redial is one way of doing it.

[2016-05-24 11:32] yn5 commented on #210
Thanks for your response @gaearon! I do hydrate my store before rendering. If I understand correctly that is not the problem. To be a little more specific:
I have a parameter to specify the language in the url. I would like to call an action to set the language with that value and use the newly `selectedLanguage` from the store in my component on the first render in order to render the app with th

[2016-05-24 11:48] gaearon commented on #210
I think the problem is you’re effectively duplicating the data between the store and the router. Why not just use the router params for this? Is there any particular reason you prefer it coming from the store?

[2016-05-24 11:53] yn5 commented on #210
Since there are other ways to change the language than just with the URL I would have to then have to duplicate the state between the store and the router if I understand correctly.

[2016-05-24 17:58] gaearon commented on #210
You would want to change URL anyway, at which point it’s easier to treat router as the source of truth for the  URL.

[2016-05-24 18:46] kentor opened #390 "Any way to pass store to connect()?"
I'm trying to integrate React with a legacy Angular app, using https://github.com/ngReact/ngReact.

I'm using build tools (browserify, babel) for the React related code, and exporting components globally via `window`. The angular app is not using build tools so everything it needs will need to be in the global scope. Angular can render these component via the directive provided by ngReact, e.g. th

[2016-05-24 20:20] gaearon commented on #390
You can create a custom `connect()`:

[code]

[2016-05-24 20:20] #390 closed

[2016-05-25 09:18] Hancoson opened #391 "action can't update view"
[code]

[code]

use the No.1 can't  update the view?

[2016-05-25 11:52] gaearon commented on #391
This is a usage question. Please ask it on StackOverflow: we use issue tracker for bugs and feature requests. If you post a question on StackOverflow and leave a link here, I’ll be happy to answer. Thanks!

[2016-05-25 11:52] #391 closed

[2016-05-26 18:46] braco opened #393 "connect() doing something to static methods in parent class?"
No idea why this is happening. Any clues?

[code]

The function of the static method is probably irrelevant, but it tells rn to use that custom view for the navigation bar: https://github.com/facebook/react-native/blob/master/Libraries/CustomComponents/Navigator/Navigator.js#L1120

This works as expected:

[code]

And without inheritance, this works as expected:

[code]

But with inheritance, this

[2016-05-26 18:51] gaearon commented on #393
Only “own” static methods are proxied for simplicity. This is intentional.
Please don’t use inheritance with React. It’s never necessary with it.
https://github.com/reactjs/react-redux/issues/383#issuecomment-220020842

[2016-05-26 18:51] #393 closed

[2016-05-26 19:01] braco commented on #393
Thanks @gearon. How would that work with a static method on the parent container, though? static renderNavigationBar() still wouldn't get picked up with the technique you linked to:

[code]

[2016-05-26 19:03] gaearon commented on #393
I don’t fully understand what you’re trying to do. Maybe if you could post a more complete example to StackOverflow, I could answer!

[2016-05-26 19:43] braco commented on #393
For people searching:

Foo1 needs
[code]
This method is reused across many classes.

I guess the following options would work
[code]

[code]

or use es7 decorators?
[code]

Which is unfortunate for something this simple

[2016-05-26 19:56] gaearon commented on #393
@braco I’d like to help you but I need you to help me first. Can you please publish a complete example showing why you want it to be a static method, and how it gets used? It is not obvious.

It’s not that something “doesn’t work in Redux”, it’s that the solution is likely very simple, but since I don’t understand what you’re building, I can’t help you.

[2016-05-26 19:58] gaearon commented on #393
I understand now that the static method gets used by React Native Navigator. But I don’t understand why you want `Foo1` to extend `Bar`, and what `Foo2` is. A complete specific example would help.

[2016-05-27 09:16] alex306314 opened #394 "react native error: import React from 'react-native' is not working in react native version 0.26"
as question title

[2016-05-27 14:33] gaearon commented on #394
Hi!

Is there any particular reason you filed this issue in `react-redux` repo?
It has no relation to React Native or React itself.

If you have problems updating to React Native 0.26, I think it is a good idea to open [React 0.26 release notes](https://github.com/facebook/react-native/releases/tag/v0.26.0) since that’s how you can find out what changed. The release notes on that page say:

So you

[2016-05-27 14:33] #394 closed

[2016-05-28 15:25] DavidBrear commented on #393
**TL;DR:** Don't extend anything besides default `React.Component` in your components if you plan on connecting them to Redux.

I ran across this issue this morning (or something similar). I'm using `react-native-router-flux` and wanted to add a custom navbar to a bunch of scenes. I decided to abstract out the `static renderNavigationBar(props)` to a separate class like this:

[code]

and use that

[2016-05-28 15:41] gaearon commented on #393
This is generally a good rule in React. You shouldn’t use inheritance with it.

I would not recommend using inheritance for this. What if next time, you want to share some other code between other set of your classes? But now they inherit from a common parent, so you’d have to use some hack or a mixin system to copy those methods. At the end of the day there is no reason why it is shorter than jus

[2016-05-29 16:12] landabaso opened #396 "What about a disconnect function?"
Is it possible with the current API to disconnect and reconnect a component at the user convenience?
Would a disconnect function be helpful?

Let me show a case where it would help:

In an SPA I keep several "Pages" cached. That means they are still mounted, but hidden.

By doing that, it is very quick to re-display Pages that have been already visited since only a few updates are necessary. And t

[2016-05-29 16:18] gaearon commented on #396
Generally my recommendation would be to just (un)mount them rather than keeping them in memory. If this is not feasible, I suggest you to not use `connect()` there, and instead manually grab the `store` from context, and call `store.subscribe()` and the `unsubscribe` function in returns whenever you see fit.

Even as a feature request, this doesn’t belong to the Redux repo because Redux store API

[2016-05-29 16:18] #396 closed

[2016-05-30 06:51] landabaso commented on #396
I get the point @gaearon.

I had been playing with the idea of exposing a way to disconnect.

I got the idea while making some tests by doing this from my connected container:

[code]
Of course the code above uses undocumented APIs and there are many things that could go wrong.

Also, there's no way to reconnect later. That's way I thought that it might be a nice addition to expose somehow a (dis/

[2016-05-30 08:09] landabaso commented on #396
In fact, I just learned that you can (re)subscribe by doing:

` this._reactInternalInstance._currentElement._owner._instance.trySubscribe()`

And I guess these are the couple of paired functions that should be called to unsubscribe:

` this._reactInternalInstance._currentElement._owner._instance.tryUnsubscribe()`
` this._reactInternalInstance._currentElement._owner._instance.clearCache()`

As I sa

[2016-05-30 12:56] gaearon commented on #396
Yea, this can break any time.
Also sorry about

I just realized you're in the right repo. (Notification overload on my side :-).

As I said it’s unlikely we add explicit support for it and you're better off using store directly.

[2016-05-30 15:14] landabaso commented on #396
Thanks @gaearon!

I decided the approach of (un)subscribe anyway since it also makes the App slow.

I'll explain it in case some other people read this issue in the future:

I worked a bit more on the idea. I passed a prop from the parent though intermediate components to the final subscribed list Items: `pauseSubscriptions = true/false`. Then the list items unsubscribed and resubscribed when it's

[2016-05-30 17:02] gaearon commented on #396
Also check out react-virtualized to avoid thousands of components in the first place.

[2016-06-01 07:29] Zara603 commented on #57
I have a component for email subscription which is part of homepage. so I'm not using routes. Root component is wrapped in provider but I still get this error.

[2016-06-01 10:27] kissyRui opened #397 "Error: undefined is not an object(evaluating 'WrappedComponent.displayName')"
**## I don't know how to solve the bug....**

**This is my code:**

import { connect } from 'react-redux'
import { setVisibilityFilter } from '../actions'
import { Link } from '../components/Link'

const mapStateToProps = (state, ownProps) => {
  return {
    active: ownProps.filter === state.visibilityFilter
  }
}

const mapDispatchToProps = (dispatch, ownProps) => {
  return {
    onClick: () =>

[2016-06-01 10:42] epeli commented on #397
Please use Stack Overflow for support questions. Github Issues are for the bugs in the library not your code.

[2016-06-01 10:42] #397 closed

[2016-06-01 11:03] gaearon commented on #397
Most likely this is the issue:

[code]

You are doing a *named import*.
This won’t work if `Link` has a *default export*.

If this is the problem, you can change the import to be the *default import* (`import Link` rather than `import { Link }`).

[2016-06-01 11:05] gaearon commented on #57
Unfortunately this is not enough information to be able to help you. Can you post a complete project on GitHub?

[2016-06-02 02:11] kissyRui commented on #397
@gaearon You are right！
Last night，I solved the problem！
I was so careless...
Thank you very much!

[2016-06-02 08:26] vlan-saxo opened #398 "Wasteful operations when mapStateToProps has 2 arguments, store triggers change event but props and state unchanged"
As title suggests, when mapStateToProps is using both state and ownProps to select chunk of redux state, when store has some state updated, but the particular chunk of state which is returned by mapStateToProps has not been changed, connect produces wasteful render attempt. This is specifically bad in places when there is thousands of components wrapped with connect, or there is just couple of suc

[2016-06-03 18:48] 5punk opened #399 "Connect can't pass on context when using Enzyme"
Hi Guys,
I've a bit of a situation, when using enzyme for rendering React Components for my unit tests, I cannot pass over the context when I am exporting the component using `connect`.

Let me show you what I mean:

Component:
[code]

Test:
[code]

This WORKS!

BUT:

Component:
[code]

Test:
[code]

Spits out: ``Warning: Failed Context Types: Required context `a` was not specified in `TestPage```

[2016-06-03 21:25] jonathancalb opened #400 "React componentDidUpdate method won't fire on inherited props change if connected to a store that didn't change"
I want my component know if some library is already loaded. To know that from any context i connect it to the "library" reducer of my store. The problem is that i pass a configuration object (this.props.dataObject) to my component from the parent where the component has been called. This prop changes and "componentWillUpdate" method won't fire. If i remove the connect from the component it works a

[2016-06-03 22:50] markerikson commented on #400
This qualifies as a "usage" question, which should be asked on Stack Overflow.  I see that you did already post the question there, so I'll link that and close this.

http://stackoverflow.com/questions/37623628/react-componentdidupdate-method-wont-fire-on-inherted-props-change-if-connected

[2016-06-03 22:50] #400 closed

[2016-06-06 03:59] JIM-CHEN opened #401 "Can i get store in sub-components constructor?"
Hi everyone,

In my react app, multiple view shared few state, but each view (state) is complex and have multiple sub-components. Therefore, i also need redux to manage ui state.

I want to call combineReducer in sub-components' constructor to load reducer dynamically and also can have a chance to delete some parts of state in destroy callback via reducer if needed. To use redux with redux-ignore

[2016-06-06 04:13] markerikson commented on #401
Hi.  First off, this is really a usage question rather than a bug or issue with Redux.  As such, it should be asked over on Stack Overflow.  I'm going to close this, but if you do post a Stack Overflow question, go ahead and paste the link in here.

That said, there's a number of libraries which can help you manage per-component state in your Redux store.  See my [Redux addons catalog](https://git

[2016-06-06 04:13] #401 closed

[2016-06-06 06:02] JIM-CHEN commented on #401
Thank you very much!

[2016-06-07 09:32] sevenLee opened #402 "Get the latest props value from state after updating props with dispatch right away"
I encounter synchronous props that is mapped from state after updating props with dispatch issue.

In JSX, when I change select dropdown, then trigger `handleChange` method. In `handleChange`, it execute `selectLayoutAction` action, dispatch the action, update `selectLayout` property of state, after that I need to use the updated `selectLayout` property in next line for updating component state, b

[2016-06-07 15:43] gaearon commented on #402
Hi! This is a usage question, so it would be much better to ask on StackOverflow. This is just a bug tracker, it’s not meant to be a place for Q&A because answers would get lost here. I’ll close but feel free to post a link to your StackOverflow question. Thanks!

[2016-06-07 15:43] #402 closed

[2016-06-07 15:44] gaearon commented on #399
Hi! This is a usage question, so it would be much better to ask on StackOverflow. This is just a bug tracker, it’s not meant to be a place for Q&A because answers would get lost here. I’ll close but feel free to post a link to your StackOverflow question. Thanks!

[2016-06-07 15:44] #399 closed

[2016-06-07 15:47] gaearon commented on #374
We don’t recommend this. If you are duplicating data from React Router in Redux store, it is extremely likely you’ll have race conditions. I recommend that you don’t do that, and instead use `withRouter()` higher order component to inject router params (works since React Router >= 3.0 beta), and use *that* as the source of truth. I recorded a few free lessons on how to do it:

* https://egghead.io

[2016-06-07 15:47] #374 closed

[2016-06-07 16:31] sevenLee commented on #402
Sorry for that, thanks for your reminder. I already post on StackOverflow, If anybody have free time, please check it, thank you!
http://stackoverflow.com/questions/37684631/get-the-latest-props-value-from-state-after-updating-props-with-dispatch-right-a

[2016-06-08 18:54] rhagigi commented on #322
**note I haven't run the code, but just from static analysis reading, I think this is what's happening**

@gaearon - In @srlopez 's example, he's calling out to an action, which changes the redux state synchronously, *during* the component lifecycle. In react-redux, the connect wrapper component only begins subscribing to store updates on the *connect* component's componentDidMount. https://github

[2016-06-08 21:34] jimbolla opened #403 "Is double-connecting a component bad/inefficient?"
I've found the syntax to be less awkward, especially when using `reselect`, to connect once to get access to `dispatch`, then connect a second time to do state stuff and memoize, vs. having to define a `mergeProps` function. I'm just concerned that double-connecting is going to somehow cause me problems, or that I'm losing some crucial optimization that `connect()` would be doing if I were doing i

[2016-06-08 22:20] markerikson commented on #403
Uh... semi-stupid question: why are you needing to use `mergeProps`?   That function is pretty rarely used.  Do you have a specific use case you're trying to work with?

[2016-06-08 22:49] jimbolla commented on #403
@markerikson Well basically, because what action gets returned to the component needs to use state. I don't have access to dispatch in `mapStateToProps` to fully bind the method, and I don't have access to state in `mapDispatchToProps` to do so, so I have to do it after both have run, either in `mergeProps`, or using recompose's `withProps`. In an ideal case, I'd have access to state, dispatch, an

[2016-06-08 23:50] jimbolla commented on #403
I'm think maybe code that uses react+redux+reselect could use a simpler implementation of `connect`. Since reselect is good and reconciling merging changes together, give the calling code the responsibility to memoize its results on state/props changes. I might mess around with implementing this idea.

[2016-06-09 00:52] markerikson commented on #403
Hmm.  A couple thoughts:

- I'm not really following exactly why that "double-connect" is necessary, as such.
I get that you want state available in `mapDispatch`, and technically `mergeProps` _is_ the escape hatch that allow for that, but why is the "double-connect" needed?  Feels like there's got to be some other way to do what you want.
- Is there any reason why the component can't call the act

[2016-06-09 01:43] jimbolla commented on #403
The double connect is the alternative to using `mergeProps`, because then I have access to dispatch during `mapStateToProps` and I can do everything in there with one composed `createSelector`. I can do what I need to do with either double-connect, or using `mergeProps`. Double-connect makes for slightly cleaner code, which is why I asked if it will cause any issues. Looking at the source for `con

[2016-06-09 04:43] jimbolla commented on #403
I'm working on an alternate version of `connect` that complements use with `reselect` library. Since `reselect` handles all the heavy lifting of caching changes, `connect`'s implementation is much simpler. [Here's a gist with a snapshot of my work in progress.](https://gist.github.com/jimbolla/4c880ab13089610779259014da763b49). Currently no hotloading support or parameter validation of any kind, b

[2016-06-09 04:54] markerikson commented on #403
Hmm.  What's the actual meaningful difference with that approach?

[2016-06-09 16:36] gnoff commented on #403
@jimbolla Your use of dispatch in this way does feel a bit awkward to me but I can see why having dispatch available in the selector can be useful if you want to keep all this kind of thing in selectors exclusively.

`connect` doesn't add much overhead beyond what any HOC would if you aren't subscribing to anything so the double connect isn't really an issue per se. If you want to make your intent

[2016-06-10 06:40] DmitryAuine commented on #351
I don't understand what was changed, but 4.4.5 breaks my current solution :)
render function is calling when i dispatch **setLocale**, but **FormattedMessage** doesn't change the message. I works on previous releases
I will investigate the bug late, but for now here is my component

[code]

[2016-06-10 07:49] DmitryAuine commented on #351
Ok i get it, i need add ownProps arg. Oh but it's a little confusing

[2016-06-10 08:02] DmitryAuine commented on #351
[code]
and

[code]
in both locale is 'ru'.

[2016-06-10 13:01] SebT opened #404 "[Help] Prevent HOC update on navigation animation"
Greetings,

**TL;DR** : How to prevent the `connect`'s `select` parameter function to be called on page navigation animation ?

I've been using react with redux and react-router for a while now and I've always faced an issue that is a bit annoying.

Let's say I have an `article` reducer in my store that is the article the user is currently viewing. So it's basically a simple json object with autho

[2016-06-10 16:35] markerikson commented on #404
This is a usage question, and should be asked on Stack Overflow instead.

That said, the basic answer would be to either have your `mapState` function return an actual value instead of null, or update your rendering logic to either provide a default value, or just check if `article` is null and not render those fields.

[2016-06-10 16:35] #404 closed

[2016-06-11 13:36] #403 closed

[2016-06-13 18:45] TigerC10 commented on #329
I disagree, `WrappedComponent` is not a perfect solution.

Or are you suggesting that `react-redux` is the king of React standards and every HOC project out there should adopt the `WrappedComponent` standard?  What if other HOCs provided `InnerComponent` or `BaseComponent` as their standard method?  What we end up with is chaos.

So I ask, why does `react-redux` modify `displayName` in the first p

[2016-06-13 18:49] RBdevelop commented on #329
+1 for @tigerC10. 👍

[2016-06-13 20:48] gnoff commented on #329
@TigerC10 I think it is more important to educate React devs what HOCs are and are not rather than implement an intentionally misrepresentative behavior for `displayName` to have the library function as you might expect with a naive understanding of HOCs.

connect or any other HOC does not return a decorated component in the strictest sense (attach behavior or data to something and return it) it r

[2016-06-14 18:56] TigerC10 commented on #329
Of course the display name of `connect(whatever...` is obfuscating - if combined with other HOCs my error messages could say
```check render method on something(that(has(been(wrapped(a(million(...```
And that's not very helpful - especially because longer messages get truncated in the dev tools unless you expand the call stack.  Furthermore, if every HOC had their own method for fussing with the `

[2016-06-14 19:00] gnoff commented on #329
@TigerC10 I'm sorry that you felt I meant you needed education in how HOCs work. That wasn't my intention. point noted on the difficulty of wrapping things in many HOCs.

[2016-06-14 19:48] TigerC10 commented on #329
@gnoff My apologies, the "please don't patronize me" remark wasn't intended to suggest that I felt like you were personally patronizing me - just expressing the fact that I don't expect that developers feel like `displayName` is truly educational.

[2016-06-14 19:52] markerikson commented on #329
I'm a bit confused on what the actual crux of the complaint is.  Is it that you want to be able to look up components by display name during unit testing, or just that hypothetical multi-wrapped component display names would be harder to read?

[2016-06-15 01:41] jimbolla opened #405 "RFC: I've created a variant of connect() that is a tailored for using with reselect"
I wasn't quite happy with the API for `connect()` so I went about recreating my own. A few design goals:
* Simpler API. Replace the 3 functions with 1, by having access to state, props, and dispatch all at once.
* Make the API [reselect](https://github.com/reactjs/reselect) friendly, and use it to cache results
* Be able to partially apply state/props as args of an action creator

An example of st

[2016-06-15 02:18] markerikson commented on #405
You've clearly put a bunch of work into this, but to be honest I'm still not really clear on what your issues are with the standard `connect()` function.  What specific use cases were you having trouble with?  How is this implementation more "Reselect-friendly" than the current version?

The one thing I'm grasping so far is that you want to state available when binding action creators, but as far

[2016-06-15 10:55] chrisgwgreen commented on #41
+1

[2016-06-15 13:01] Anahkiasen commented on #41
Basically my prop was mutable so as soon as it was mutated, both the previous and next props actually pointed to the same object, having the same values.

[2016-06-15 13:53] chrisgwgreen commented on #41
Thanks Anahkiasen. It turns out I too was mutating and returning the object representing the Redux store without realising it.

Redux requires a new object to be returned in the reducer for the shouldComponentUpdate function to show a difference between nextProps and this.props.
I think this.props must directly reference the object returned by the reducer meaning any mutation is already present in

[2016-06-15 15:03] jimbolla commented on #405
@markerikson In addition to what you mentioned, the other issue I started running into was when I was using createSelector in mapStateToProps, mapDispatchToProps and mergeProps, because they each have different parameters, I had to organize my selectors by which method they aligned with. (Using createSelector to memoize my functions is useful for partially applying args from state/props, so that a

[2016-06-15 15:47] markerikson commented on #329
Also, #395 is pretty relevant to this.

[2016-06-15 15:57] markerikson commented on #405
Fair enough.

The implementation of `connect()` has certainly grown rather complex.  It's trying to do caching and other optimizations, allow per-instance selector memoization, etc.  I think there's some related issues that are trying to rework things, like #269 , #368 , and #373.  But, that said, it's the public API we've got, and it does cover the vast majority of use cases.  Given that you've s

[2016-06-15 15:58] markerikson commented on #41
Yep, there's a very good reason why this is in the Redux FAQ: http://redux.js.org/docs/FAQ.html#react-not-rerendering .

Seriously, I think every single time I've seen this question, the cause was mutation in a reducer.

[2016-06-15 17:03] TigerC10 commented on #329
I think #395 is hilarious.  "There's a problem with 'changing' the `displayName` - let's add a function to get the original one" instead of "Why don't we just stop 'changing' the displayName."

[2016-06-15 17:15] jimbolla commented on #405
I just whipped this up and haven't tested it at all, but this could be wrapper around my `connectToStore` that gives a compatible API to the current `connect` (except for the [advanced scenarios](https://github.com/reactjs/react-redux/blob/master/docs/api.md#arguments) for `mapStateToProps` and `mapDispatchToProps`. I'd say people that need those, probably just use `connectToStore` directly.

[cod

[2016-06-15 17:20] markerikson commented on #405
Yeah, I do follow the reasoning for posting this here.  Perhaps raise the question over in Reactiflux, just to see if anyone else has feedback?

[2016-06-15 18:49] jimbolla commented on #269
If you look at #405, I've re-implemented connect in such a way that splits caching and connection. It's still a single component, but all the cache maintenance is handled by [reselect](https://github.com/reactjs/reselect).

[2016-06-16 03:28] jimbolla commented on #405
@markerikson So I wrote a version of `connect()` that builds a selector from its args and passes along to `connectToStore()`. All react-redux tests pass with 1 breaking change for when `mapStateToProps` / `mapDispatchToProps` are factory methods and a couple tweaks to some spy counts because my implementation does things slightly different behind the scenes.

[Fork is here](https://github.com/jimb

[2016-06-16 04:53] sdtsui opened #406 "Q: What is the reasoning behind the naming of mapStateToProps?"
I have used Redux for many projects, and I use React daily.  I was asked a great question today: "why call it mapStateToProps -- wouldn't that be easy to confuse with a React component's `state`?". Why not call it something else?

I was hoping someone would have thoughts. Thanks! :)

[2016-06-16 11:27] alexeychikk commented on #144
Checkout my simple workaround:
https://gist.github.com/alexeychikk/add4db3397df9feb2a0daf155376a5a8

[2016-06-16 15:46] markerikson commented on #406
Did some digging through the issue archives and commit logs.  Looks like the argument name was changed from "select" to "mapStateToProps" roughly around August 7, 2015, in commit 3079d0045f8ced7c79db9b255172295d2294ae51, but I'm having trouble finding specific discussion around that.

Beyond that, given that Redux is explicitly a "state management library", and `connect()` is supposed to hook toge

[2016-06-16 15:46] #406 closed

[2016-06-16 16:48] gnoff commented on #406
Redux store has a getState method. mapStateToProps maps this state to some props that should be provided to the connected component.

Same thing for dispatch property and mapDispatchToProps.

The state name is overloaded but you can see that the naming is derived from redux terminology itself.

[2016-06-16 22:52] #405 closed

[2016-06-16 23:31] jimbolla opened #407 "Completely rewrite connect() to offer advanced API, separate concerns, and (probably) resolve a lot of those pesky edge cases"
[I rewrote connect() and extracted a connectAdvanced()](https://github.com/jimbolla/react-redux/tree/connect-rewrite/) It now uses [reselect](https://github.com/reactjs/reselect) to handle merging/caching of the state/props/dispatch. It also extracts out a `connectAdvanced()` function that `connect()` just delegates to.

I'm not quite ready to ready to submit a PR (still tweaking), but I'd like to

[2016-06-16 23:52] markerikson commented on #407
The first concern would probably be that you're explicitly depending on Reselect.  While Reselect is heavily used in the Redux ecosystem, I'd be hesitant to make it a direct dependency.  (Of course, I'm also just an opinion, hardly the final arbiter.)

[2016-06-17 00:43] jimbolla commented on #407
What would be the cause for hesitation?

[2016-06-17 01:37] btipling commented on #407
The connect code is a bit hard to work with in tests. It would be really nice to be able to set withRef to true, but there's so much hidden inside that connect code, not accessible outside of it. Even the [`Connect` component](https://github.com/reactjs/react-redux/blob/master/src/components/connect.js#L75) itself is defined inside the `connect` function. That's just crazy to me, why was it writte

[2016-06-17 01:52] jimbolla commented on #407
@btipling I'm all for opening it up as much as possible. But I'm not sure what you're not able to access that you expect to. The Connect component has to be inside the closure function because it depends on the functions parameters. It can't be outside because each call to connect creates a unique class.

[2016-06-17 03:50] jimbolla commented on #292
I have an idea that might solve this. It would require tweaking the way subscribe() works. `subscribe(listener)` would become subscribe(listener, [priority]). Then when the store state changes, listeners would fire by priority in ascending order. (subscribe should probably store them in that order).

Now, once subscribe() has that, connect can make use of another context field...let's call it conn

[2016-06-17 07:28] epeli commented on #292
@slorber

Yes.

[2016-06-17 08:27] mihirsoni commented on #210
@gaearon I have sync action which fill up data in store while dispatching action using higher order component `componentWillMount` , but I am facing issue that the values are not defined with the WrappedComponent on the server side rendering. But client side it renders two times and it works. Am I doing something wrong ?

[code]

[2016-06-17 10:05] paramsingh88 commented on #162
I'm facing the same issue. Can't solve it!!

[2016-06-17 20:36] markerikson commented on #407
@reactjs/redux, @phoenixmatrix, @Aweary: would be particularly interested in other thoughts and opinions on this, especially from people who have actually been hands-on with `connect()`.

I wrote up my initial thoughts in Reactiflux (chat transcript at https://gist.github.com/markerikson/561ce2d8830a34c35701ea77564c7073).  Way TL;DR:

But:

[2016-06-17 20:55] Aweary commented on #407
Do you have any documentation on the new advanced API and/or a changelog? It's a pretty big change and kind of hard to parse everything at once, it will likely be easier to provide feedback once we can see an actual diff when you open your PR.

I'm also a little hesitant about using Reselect by default. What if someone wanted to implement their own caching/memoization strategy, would they be able

[2016-06-17 20:59] timdorr commented on #407
[Here's your diff](https://github.com/reactjs/react-redux/compare/master...jimbolla:connect-rewrite#files_bucket), but it's basically all new.

I'm not sure this is actually more performant too. `connect()` currently does some intelligent caching of the ReactElement instance when comparing updated state. It looks like this will create more spurious updates, moving the caching over to the selector,

[2016-06-17 21:00] markerikson commented on #407
Prior discussion for reference: #403 , #405

[2016-06-17 22:22] markerikson commented on #407
Also, repos that could be relevant benchmarks:

- https://github.com/mweststrate/redux-todomvc
- https://github.com/jscriptcoder/stressing-redux
- https://github.com/broadsw0rd/react-redux-perf

[2016-06-17 23:19] Aweary commented on #407
It definitely depends on whether this brings any real-world advantages. `connect()` is already performant and the current implementation has the advantage of being well tested in production, so any performance/usability improvements will have to be more than marginal to justify a full rewrite.

[2016-06-18 00:53] jimbolla commented on #407
@Aweary I've been working on adding comments to the code to explain as much as possible, but I can provide an executive overview:
 * The API for `connect()` is exactly the same, but its internals are completely different, ultimately delegating to `connectAdvanced()`.

* The API for `connectAdvanced()` is `connectAdvanced(selectorFactory, {connectOptions})`. `selectorFactory` is a func with the sig

[2016-06-18 04:20] jimbolla commented on #407
First performance test using https://github.com/broadsw0rd/react-redux-perf.
1. First I modified the fill-pairs action to increase the count from 60 to 600. (Otherwise both were capping out at 60fps)
2. Then built using current react-redux
3. Then copied the built version of my rewrite into the perf's node_modules and rebuilt

Running each version in their own Chrome window simultaneously on their

[2016-06-18 04:31] markerikson commented on #407
The examples in http://somebody32.github.io/high-performance-redux/ would also be very relevant here.  Code for the examples is at https://github.com/somebody32/high-performance-redux/tree/gh-pages/assets, i think.

[2016-06-18 06:57] jimbolla commented on #407
Latest test... changed https://github.com/broadsw0rd/react-redux-perf. so that each item was a connected component (181 total connected). First results were that my rewrite was getting about 1-2 FPS less, so looking into it... excess `setState()` calls. I solved this by recomputing the selector and conditionally firing setState only if changes. This led to a problem with the backwards order of par

[2016-06-18 13:21] jonkelling commented on #407
I made a small change that fixes my own performance issues (`||` instead of `&&` in `handleChange`). The key being to avoid excess `setState(...)` calls, which @jimbolla mentioned.
[code]
I'm not aware of the repercussions of this change, as I just start messing with the code here, well, 30 mins ago. I just started using React, Redux, etc. etc. this week, so I'm not quite up-to-speed on the perfor

[2016-06-18 16:00] jimbolla commented on #407
@jonkelling Would you be interested in helping me test my changes? At least by trying them in your app?

[2016-06-18 21:50] jonkelling commented on #407
@jimbolla I'll do what I can! I was able to get it functioning, but the first go at it saw decreased performance. I may not be doing it the way you intended, so I can try it again a bit differently if this seems off.
[code]
A couple of things:

1. I had to add `children: props.children` to get things to render.
2. I think `shouldComponentUpdate` is always returning try because it's comparing all o

[2016-06-18 22:41] jimbolla commented on #407
@jonkelling Ah yes, if you're going to use `connectAdvanced`, you probably want to pre-build your event handlers at least, otherwise react sees those as new every time. It also doesn't assume you want to pass alll ownProps through by default, so you either have to cherry pick them, or use spread. You could write:

[code]
Note that with the spread operator (...props) approach, all props will be con

[2016-06-20 02:05] jimbolla commented on #407
I removed the dependency on reselect and handrolled memoization for the relevant parts. I'm using [this project](https://github.com/jimbolla/react-redux-perf) to perf test the difference between current and this rewrite. With 331 connected components, i'm currently seeing 5-7 FPS with current, and 50-53 FPS with the rewrite.

[2016-06-20 05:16] markerikson commented on #407
Well, that's certainly a very intriguing result.

I very briefly skimmed the new code in the fork.  There's definitely a lot _more_ code overall, but on the flip side, a lot of that seems to be selectors.  The individual bits of code also seem fairly well-written at first glance.  Will need to spend time reading through that more carefully to see what's actually going on.  (Could also use somethin

[2016-06-21 14:10] larpo commented on #398
I ran into the same issue while going through react perftools results. There probably is a valid reason for the doStatePropsDependOnOwnProps check, but I think the docs should be more clear about this limitation.

Anyway, the workaround in my case was to use a custom mergeProps function, eg. changing from
[code]
to
[code]

Looks ugly, but the perf issue is gone.

[2016-06-21 14:21] jimbolla commented on #407
@markerikson I'm still refactoring for clarity, and need to add some comments, but I'm getting close to being ready to submit as a PR. Any feedback you have is greatly welcome.

[2016-06-21 14:24] jimbolla commented on #398
I think this will be addressed by #407. I'm rewriting the Connect component to only fire setState() if the final props have changed. I'm seeing HUGE performance gains.

[2016-06-21 15:50] markerikson commented on #398
@jimbolla : yeah, this would be another good before/after comparison project.

[2016-06-21 15:57] markerikson commented on #407
Haven't had a chance to really dig through the code yet.  My main suggestion at this point would be to document this to ridiculous levels:

- Overall motivation and intended benefits
- High-level conceptual overview of the new approach
- Conceptual comparison with the existing approach
- Document any new APIs, their purpose, and their usage
- Walkthrough of the new data flow sequence
- Some kind o

[2016-06-21 17:07] jimbolla commented on #407
@markerikson I totally agree, and was already thinking all those things. It's just a matter of time. I'm hoping to have all that by some time this weekend, optimistically. The code is more-or-less complete, barring any renames to make things clearer. Next up is comments to clarify things at the local level, where needed. Then I'll work on the "conceptual" documentation. Do you think it makes sense

[2016-06-21 17:11] Aweary commented on #407
Could you possibly write up the documentation in a gist and just link it here? If it's beneficial to include it in the docs I'm sure it could be pulled in.

[2016-06-21 17:48] jimbolla commented on #407
If I wanted to make a diagram to show the relationship between the various functions, what would be a good tool to do so?

[2016-06-21 18:01] markerikson commented on #407
Not sure on the diagram thing.

This FPS measurement utility might be useful: https://www.reddit.com/r/reactjs/comments/4os0lu/looking_for_a_reliable_way_to_measure_framerate/

[2016-06-21 18:27] jimbolla commented on #407
The one used by react-redux-perf is [this one](https://github.com/mrdoob/stats.js/). It seems to do a good job. At this point I'm feeling pretty strong about significant perf gains, by avoiding unnecessary calls to setState/render. I'll elaborate in the eventual gist.

[2016-06-21 19:06] jonkelling commented on #407
I'm with @jimbolla on avoiding unnecessary calls to setState and render. Might I also suggest calling out the specific cases and adding unit tests for them. My own change to avoid extra calls to setState breaks one of existing tests in react-redux. When I get the time, I hope to understand the intention behind that test case and the original code so I can decide how I really want to/should handle

[2016-06-21 19:17] markerikson commented on #407
@jonkelling : yeah, the snippet you commented out is to specifically handle the case where a parent component is rendering a connected child component, and passing some props in.  For example, the parent might render something like:

[code]

If the child's `mapState` indicates that it takes the second argument of `ownProps`, then the return value of `mapState` is probably dependent on the incoming

[2016-06-21 19:55] Aweary commented on #407
If this new implementation doesn't use sideways subscriptions, will it be affected by the issue described in https://github.com/reactjs/redux/issues/1700?

[2016-06-21 19:57] markerikson commented on #407
I think the use of `store.subscribe(this.handleChange)` _is_ a "sideways subscription" - ie, a source of data not directly coming down from above.

[2016-06-21 20:19] Aweary commented on #407
Cool, yeah, I haven't had much time to look over all of these changes. Seems reasonable though, great work @jimbolla

[2016-06-21 20:46] jimbolla commented on #407
@Aweary The subscriptions aren't "sideways" but they will *always* fire, independent of any optimizations. If the parent component doesn't rerender or an intermediate non-connected component doesn't rerender, the child components still get to do their thing. The key parts are [Subscription.js](https://github.com/jimbolla/react-redux/blob/connect-rewrite/src/utils/Subscription.js) and [these parts

[2016-06-21 20:48] markerikson commented on #407
Hmm.  More use of context?  Do we need to be concerned with any of the "context doesn't deal well with `shouldComponentUpdate`" comments I've seen?  (Not clear on all the details myself, just know that it's one of the general concerns with use of context.)

[2016-06-21 20:50] markerikson commented on #407
Also, does this make any changes to the approach for testing connected components?  Does it still handle looking for `this.context.store` or `this.props.store`?

[2016-06-21 20:52] jimbolla commented on #407
@markerikson I never modify the context so no need to trigger an update. That should be a non issue. I followed the same "props.store" or "context.store" pattern like the original.

[2016-06-21 20:53] markerikson commented on #407
Cool.  Just tossing that out as a thought to be aware of.

[2016-06-21 21:27] mgenev opened #409 "every single reducer fires for every single action I dispatch"
It appears that in Redux I have no way of saying "I want to fire _this_ particular action", I can dispatch in general and then I have to do conditionals to find out what action was dispatched and thus every single one of my reducers fire for every single action and every single reducer has to contain a conditional to find out if it's handling the right action. Not only is this redundant and not el

[2016-06-21 21:39] gaearon commented on #409
Please see http://redux.js.org/docs/FAQ.html#performance-all-reducers.

[2016-06-21 21:39] #409 closed

[2016-06-21 21:41] gaearon commented on #409
(Redux manages global state. So actions are global by design. If you want a local update, you might want to use something other than Redux—for example, `setState()` in React or something similar.)

[2016-06-21 21:53] gaearon commented on #398
Note that this is usually not a great idea by itself; something like https://bvaughn.github.io/react-virtualized/ is much better for performance.

[2016-06-21 22:07] markerikson commented on #398
True.  That said, not every example of "lots of connected items" would fall right into the "single list" use case.

@jimbolla , it'd really be nice to actually get some hard numbers on just what the overhead is from the current `connect()` implementation, and how many connected components is "too much".

[2016-06-21 22:12] markerikson commented on #409
You may also want to look at the numerous utilities and libraries in my Redux addons catalog at https://github.com/markerikson/redux-ecosystem-links.  In particular, the [Action/Reducer Creation](https://github.com/markerikson/redux-ecosystem-links/blob/master/action-reducer-generators.md) and [Component/Local State](https://github.com/markerikson/redux-ecosystem-links/blob/master/component-state.

[2016-06-21 22:55] jimbolla commented on #407
It's all good. The more scrutiny the better. Believe me, I'm more worried that I missed something than you are. haha.

Current benchmarks using [jimbolla/react-redux-perf](https://github.com/jimbolla/react-redux-perf/tree/connect-rewrite), all 6 tabs opens at once, 331 connected components each:

Frames per second:

FPS | current | rewrite
------ | ------- | -------
Chrome | 5 | 46
Firefox | 2 | 4

[2016-06-21 23:14] jimbolla commented on #398
@markerikson My [latest comment on #407](https://github.com/reactjs/react-redux/issues/407#issuecomment-227596718) has some insight into that. I have 331 connected components running. Current implementation is getting single digit FPS, my version is "good enough for console gamers." hehehe. I don't know if 1000s will ever be feasible without some radical unforeseeable change. But certainly a few d

[2016-06-21 23:35] markerikson commented on #398
Cool.  Now, haven't looked at the source for any of these benchmarks, but I know that the 10K list item example in the "High Performance Redux" slides (as inspired by the MobX "Redux TodoMVC" repo) goes from having 1 connected list and being basically unusable, to having 1 connected list + 10K connected list items and vastly better.  So, number of connections is a factor, also presumably frequency

[2016-06-21 23:59] jimbolla commented on #398
I guess it depends on how often it's dispatching actions. The project I'm using is doing
[code]
to simulate a stock ticker, so that would be 1000/13 + 1000/21 + 1000/24 + 1000/55 = 184.39 actions dispatched per second. But if your actions are more based on user interactions then you won't be  doing anything near that frequency.

[2016-06-22 00:11] markerikson commented on #398
That.... seems like an acceptable stress test :)

[2016-06-22 13:21] jonkelling commented on #398
@jimbolla thanks for all the commitment to this! :+1: for the stress test metrics! You are 2 or 3 steps ahead of me, it seems, so I'm trying to do my best to keep up with the posts here :)

@markerikson Thanks for clarifying what that commented-out code does--I got that impression but wasn't sure if that was really the reason. Now, knowing that :), it was pretty easy to spot the implications (with

[2016-06-22 14:00] jimbolla commented on #398
@jonkelling If you can write any new tests, that would be great. If you create them in a fork, I can pull  into my fork. I'm working on the "cover letter" that will go with the eventual PR for #407, hopefully done by this weekend.

[2016-06-22 22:43] calekennedy opened #411 "Relative state depth issue"
I am having a little bit of trouble generalizing the relative depth of my Containers within the redux store.

For instance, lets say I have a Container that uses the function
[code]

This is fine, for now, because I'm calling
[code]
inside of my Address reducer, and in my Root reducer, I am doing the same with Address.

Now, let's imagine that I create a deeper nesting. Lets say I have a store tha

[2016-06-22 22:48] markerikson commented on #411
This is a usage question, and should really be asked over on Stack Overflow.

That said: reducers are frequently structured so that they only know about the scope of the data they need to update, using the `combineReducers` utility.  However, any given component _could_ be interested in any portion of the entire state tree.  Also, Redux only stores a reference to the state tree as a whole anyway,

[2016-06-22 22:48] #411 closed

[2016-06-23 00:49] jimbolla commented on #407
How do you all feel about using jsdoc for commenting code? Or is there something newer/better?

[2016-06-23 01:25] markerikson commented on #407
Don't think there's any specific tool used for code docs at the moment in any of the ReactJS repos.  I'd say go ahead for now, and worst case someone might change it later (but I'd think that would probably be okay as-is).

Changing topics: I'd like to pre-emptively thank you for the time and effort you've put into this, and the attitude and approach you've taken.  When I saw your first issue abou

[2016-06-23 06:29] gnoff commented on #407
@jimbolla

having gone through your implementation of connectAdvanced (and to some extend the connect api reimplementation) I have the following very disjointed thoughts and questions.

1. in many respects `connectAdvanced` seems simpler than `connect` to me. would you intend to ever use the original api over the advanced api. If the benefits of the new api consistently outweigh those of the exist

[2016-06-23 07:44] billyjanitsch opened #412 "Proposal: HOC provider interface"
The current `Provider` interface:

[code]

Is, imo, expressed more cleanly as an HOC:

[code]

A naive implementation:

[code]

Of course, you'd want to add some invariants and provide a displayName (or better yet, just let it add the store to context itself and do away with the `Provider` dependency). Bonus: [this check](https://github.com/reactjs/react-redux/blob/master/src/components/Provider.j

[2016-06-23 13:03] jonkelling commented on #407
@jimbolla, I've got your latest code. Kudos on making it work with connect()! My own performance problems resolved :+1: I'll work on test cases for ya this weekend. Thanks for all of your work on this!

[2016-06-23 14:13] gaearon commented on #412
This is how it used to be in very early versions. It has significant downsides. Specifically it is more awkward to supply a store when server rendering and in tests because you have to generate classes every time.

[2016-06-23 14:13] #412 closed

[2016-06-23 14:51] erykpiast opened #413 "Question: doStatePropsDependOnOwnProps"
I'm curious why `doStatePropsDependOnOwnProps` is defined by checking length of function `mapStateToProps`. It causes weird issues with generated functions (ex. with `pipe/compose`) or ones with default arguments (see [Babel transpilation results](http://babeljs.io/repl/#?evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&code=function%20add(a%2C%20b%20%3D%200)%20%7B%0A%20%20return%20a%

[2016-06-23 16:20] markerikson commented on #413
Well, per https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/length , `Function.length` "specifies the number of arguments expected by the function".  `connect()` can accept a `mapState` function that only depends on `state`, or depends on both `state` and `ownProps`, and since in both cases the `mapState` argument would be a function, checking the number of

[2016-06-23 16:30] billyjanitsch commented on #412
That's a good point, thanks for explaining!

[2016-06-23 16:40] erykpiast commented on #413
I think I understand the code, but I wish to know the motivation. If the function doesn't use `ownProps` argument (does not declare it in its definition), then passing this to the function after `state` cannot break anything, am I right?

The case was pretty simple, I need component depending on `params` only. I can define `mapStateToProps` for it like that:

[code]
or like that:
[code]
Ignoring t

[2016-06-23 16:52] markerikson commented on #413
The actual motivation is that if a connected component only needs generic-ish data from the store (such as `state.someField`, then `connect` will only re-run `mapState` when the store updates.  However, if a connected component needs to make use of its own props values in `mapState`, such as looking up the data for a specific item ID ( like `state.someData[ownProps.itemID]`), then `connect` will _

[2016-06-23 19:58] PCreations opened #414 "Proposal to render connected component only when their props are guaranteed (a la Relay)"
I'm using react-redux for a year now and I always find myself struggling with the same situation :

- `TodoList component` is responsible for displaying a list of todo object
- I connect the `TodoList` component to selects the todos from store
- I create a `componentWillMount` method in `TodoList` component to fetch the todos if needed

Example :
Todo.js
[code]

TodoList.js
[code]

I don't want th

[2016-06-23 20:04] kodermax opened #415 "why do you use context"
Why do you use context for transfer store to other components?
React authors don;t recommended use context functionality.

[2016-06-23 20:14] jimbolla commented on #407
@markerikson Thank you for your all your help. Your participation has helped me flesh out my ideas and force me to critically think about what I'm trying to do and how to do it. I understand the potential impact of such a large change, and therefore the need to make a strong justification for it. I'm working on that "justification" doc now, and even as I'm writing it, I'm tweaking my design to mak

[2016-06-23 21:37] erykpiast commented on #413
Regarding my use case, I use react-redux-router along react-redux and that's because I need `mapStateToProps` with the second argument only, react-redux-router puts path params to `ownProps`. But it doesn't really matter, I just did want to talk about general issue.

Anyway, I see know what is happening based on `doStatePropsDependOnOwnProps` - quite a lot of. So I understand that nothing may chan

[2016-06-23 21:37] #413 closed

[2016-06-23 21:41] markerikson commented on #413
The docs for `connect` do indicate that `ownProps` is optional, and mention that your `mapState` will be called more often: https://github.com/reactjs/react-redux/blob/master/docs/api.md#connectmapstatetoprops-mapdispatchtoprops-mergeprops-options

But yeah, doc PRs are always welcome if you've got improvements in mind.

[2016-06-23 21:42] gaearon commented on #415
Hi,

Thanks for asking!
I answered this question here: http://stackoverflow.com/questions/36428355/react-with-redux-what-about-the-context-issue

I hope this helps!

[2016-06-23 21:42] #415 closed

[2016-06-24 18:55] erykpiast commented on #413
Please, look at https://github.com/reactjs/react-redux/pull/417. I hope my english is good enough :)

[2016-06-25 09:55] vinhlh opened #418 "Not clear error message"
Inside a container, add mapStateToProps:
[code]

The error message is showed in console.log is
[code]

That should be something like: haha is undefined

[2016-06-25 15:47] markerikson commented on #418
That error message is from React, not React Redux.  Also, while it could maybe be improved a bit, it _is_ straightforward: your JSX is not correctly written, and one of the elements you are trying to render is not a valid variable.  Remember that rendering `<SomeComponent />` gets turned into `React.createElement(SomeComponent)`, meaning that the variable `SomeComponent` must exist at that point.

[2016-06-25 15:47] #418 closed

[2016-06-26 09:29] brianboyko opened #419 "Easy way to map getState() to this.props.getState() for dependency injection?"
Hello.

I'm working on a piece of code called "reduxify" which I hope to publish as an NPM module, that helps take away some of the boilerplate of using react-redux on large projects.

The problem that I'm running into is that I can't seem to find a way to map getState() to props.  This is somewhat important for the design pattern I'm working with.

Specifically, in order to keep my "utilities" un

[2016-06-26 16:35] markerikson commented on #419
Hi, Brian.  I know we talked about something like this a while back.  Is there any reason you aren't just using thunks?  Because thunks are middleware-based, the thunk functions receive `getState` and `dispatch` automatically.  Also, with the newer redux-thunk v2.1.0, you can automatically inject additional arguments into your thunk functions, such as specific AJAX API wrappers or something.

[2016-06-26 16:48] markerikson commented on #419
So glancing at https://github.com/brianboyko/reduxify , a couple thoughts:

- Semantically, it's not "reducers" that you're picking - it's the _keys in your state_ (which may or may not have specific reducer functions assigned to handle updating them)
- Everyone's apps and setups will vary, but I would think that much of the time components would need much more fine-grained data than an entire sli

[2016-06-26 17:43] brianboyko commented on #419
While thunks are very useful for asynchronous actions, they don't seem to me to be the right tool for this type of usage.  Not every "utility" function that I would write would necessarily be asynchronous,

Truth be told, I actually think asynchronous actions can cause a big problem if you're trying to use Redux to replay the state the user experienced it in.  That is: if actions can be asynchrono

[2016-06-26 17:54] markerikson commented on #419
Note that the since the DevTools need to be placed last in the enhancer sequence, right before the real store, they only replay actions that actually reached the reducers.  So, the actual _changes to state_ would be the part that gets replayed, not stuff that got intercepted by middleware and redirected.

Also, thunks can totally serve for both true async behavior _and_ more complex synchronous lo

[2016-06-26 18:29] gaearon commented on #418
Most likely you forgot to export the component from the file, so you get `undefined` when importing it.
`mapStateToProps` probably doesn’t run at all for this reason.

[2016-06-26 18:30] gaearon commented on #414
I think this could work great as a third party library. If it proves popular, we might consider including something like this by default.

[2016-06-26 18:30] #414 closed

[2016-06-26 18:30] gaearon commented on #381
Closing per inactivity, doesn’t seem like there is any actionable here.

[2016-06-26 18:30] #381 closed

[2016-06-26 19:25] brianboyko commented on #419
Ah, I don't have access to the dev tools where I work, so building a custom solution was necessary.

[2016-06-26 22:18] migueloller commented on #407
I was about to write an RFC issue to discuss rewriting `connect()` to provide more functionality. Given how healthy this discussion has been I think this is the best place to post it.

My approach was going to be a bit different than @jimbolla's. My inspiration came from wanting to write a lightweight version of [`apollo-client`](https://github.com/apollostack/apollo-client), call it `react-redux-

[2016-06-26 22:58] markerikson commented on #419
Gotcha.  Out of curiosity: I know that you're working in a fairly restricted environment, but is there anything preventing you from downloading stuff like the Redux DevTools package "manually" and including it in your project?

[2016-06-26 23:09] markerikson commented on #407
At the moment I'd say that that would be going too far to be an acceptable set of changes.  The current PR is being looked at because it's been made API-compatible with the existing version of `connect()`, and Dan actually asked that the underlying "advanced" function in the new implementation not be exposed for now.  Adding anything GraphQL specific would certainly be out of the picture for now.

[2016-06-26 23:22] migueloller commented on #407
I apologize if I wasn't clear but I wasn't suggesting that we add GraphQL specific functionality, but more so the ability to add an extra argument to `connect()` that would allow other developers to extend `connect()`'s functionality. This wouldn't be a breaking change since it would be added either as an option or as the last argument.

It would also allow for `advancedConnect()` to be written se

[2016-06-26 23:34] markerikson commented on #407
Yeah, that's my point.  We've already got several overloads in React Redux's API (like being able to pass an object full of functions as the `mapDispatch` argument), and based on the comments Dan has made already, I don't foresee any more specific API changes happening any time soon.  And, if you want an example of how a "small" change can have some pretty unforeseen consequences and incompatibili

[2016-06-27 00:21] migueloller commented on #407
Sounds good. Here's the change https://github.com/migueloller/react-redux/commit/1c8d940b945d519f32011e1359bd65c42e5f83b1

All tests are passing. Just wanted to get some comments on what people thought.

The change now allows for enhancing connect (if you want to) in any way you want, allowing for what I mentioned above.

If this ends up being ignored at the end that's ok. Just thought that this w

[2016-06-27 01:26] brianboyko commented on #419
Only that I've tried it, and it doesn't work for whatever reason. I suspect
it is because Redux Dev Tools attempts to recalculate the state from
scratch by running through all the actions, every time you move backwards
in the timeline, which is problematic for an application that can have up
to 3000 actions.

[2016-06-27 01:44] migueloller commented on #407
I forgot to mention that the arguments of connect aren't changing, the changes just allow for a new option to be passed in.

[2016-06-27 23:26] jimbolla commented on #407
@migueloller If #416 gets accepted, then you will probably be able to create your desired API by wrapping the new `connectAdvanced` method with your own custom connect method, without needing to modify the standard `connect`. That's what I'm trying to accomplish in my own project... I have my own `connectToStore` method that calls `connectAdvanced` while providing a significantly different API tha

[2016-06-28 04:36] migueloller commented on #407
That would be an option but it's not much different from wrapping `connect` because the library would still have `react-redux` as a dependency. It would be nice to simply export a function the takes in `connect` as a parameter and outputs a new version of connect. This is how store enhancers work (Redux libraries don't normally have Redux as a dependency).

It doesn't look like there is interest t

[2016-06-28 21:55] romulof commented on #289
I've made a "Provider" component to expose my Axios instance it in a context, allowing container components to inject them in my thunk dispatchers, but I think I'm doing to much repeated work, something that `connect` could help.

I've done similar things using props, and it looked pretty good:
[code]
[code]

The authors say, the usage of context is discouraged, but passing down the tree as a prop

[2016-06-29 06:37] b6pzeusbc54tvhw5jgpyw8pwz2x6gs opened #422 "Is the WrappedComponent required?"
The `connect()` is being create WrappedComponent like
[code]

I'm work on some project porting application to project using react, redux from traditional web project. Sometime old css codes has some selector like `.parent > .child` doesn't works because unintended created WrappedComponent.

Also I'm worrying about that in case of the massive DOM tree(like many items of list), `connect()` add one o

[2016-06-29 15:33] markerikson commented on #422
The wrapper component generated by `connect()` doesn't generate any DOM elements.  This should not be a concern.

Also, there is not a 1:1 correspondence between React component instances and DOM elements anyway.  A React component could generate many DOM elements, one, or none.  Try using the React DevTools to see what components are actually generating those elements.  You could also start addin

[2016-06-29 15:33] #422 closed

[2016-06-30 09:26] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #422
Thanks~ I will check!

[2016-06-30 13:25] PCreations commented on #398
This issue is problematic when `ownProps` is just used once for the lifetime of the component. For example, when you a have a huge list such as the 10k list exemple, all items are connected and depends on their `ownProps` to select the correct item from store :

[code]

For any item modified, **all the connected** component will rerender due to this line in [handleChange](https://github.com/reactj

[2016-06-30 13:29] jimbolla commented on #398
#416 will fix this. If `getItem` returns the same value as previous call, Connect will skip unnecessary re-renders.

[2016-07-01 15:10] powergij opened #423 "Set local state of component with Redux props given from mapStateToProps()"
I've got a list of input value that i need to populate with the info returned from dispatch function...
I can't set the state inside componentWillMount because I need to wait that the reducer return info to the state.

Inside componentWillMount method dispatch the call to get data
[code]

Inside componentWillReceiveProps method I set the local state using the props returned as data
I put the setSt

[2016-07-01 19:17] realbugger opened #424 "Put function that returns promise in redux state"
I'll explain why I want to do this later.
Here is the problem. I have a function that returns a promise like below:
[code]
As expected, I can invoke it like this just fine:
[code]
Or assign it to a variable and call it like this
[code]
These are all expected. However, once I put the function in redux state, then invoke it from there, it doesn't work anymore. Here is what I did (grossly simplified)

[2016-07-01 21:11] gaearon commented on #424
This is a usage question. Please ask it on StackOverflow or Discord. We use the issue tracker to track bugs. Answers get lost here, and people ask the same questions again and again 😄 . Thanks!

[2016-07-01 21:11] #424 closed

[2016-07-01 21:12] gaearon commented on #424
(Also note that we don’t recommend putting anything non-serializable into the state. Redux Saga or Redux Obseravble seems like better ways to do what you described.)

[2016-07-01 21:42] realbugger commented on #424
Got it. Thanks @gaearon

[2016-07-01 23:05] jimbolla commented on #407
I'm gonna close this now that #416 exists.

[2016-07-01 23:05] #407 closed

[2016-07-01 23:19] markerikson commented on #423
This is a usage question, and should be asked on Stack Overflow instead.  The issue tracker is used for bugs - questions and discussions in here tend to get lost and repeated.

[2016-07-01 23:19] #423 closed

[2016-07-05 11:06] foiseworth commented on #366
I did some investigating into this and the issue seems to be caused by the following:
1. There is a component with getChildContext above the connected component (one will usually be Provider).
2. The cached element has getChildContext
2. React merges the contexts in _processChildContext by assigning to an empty object thus creating a new context object
3. New context object fails equality check th

[2016-07-05 15:36] markerikson commented on #366
Thanks for looking into this!  Does the rewrite in #416 happen to eliminate this issue?

[2016-07-05 16:07] jimbolla commented on #366
416 doesn't cache the element, only the final props, since more aggressive shouldComponentUpdate() means render will only fire if it actually needs to rerender, so I would guess it does.?

[2016-07-05 17:28] foiseworth commented on #366
Did some testing and and 416 fixes the issue and it does indeed seem to be down to shouldComponentUpdate. Some unscientific testing shows a massive perf increase as well.

[2016-07-06 09:24] eromoe opened #427 "Correct way to interact with the value of Input , or Control child element content inside a component."
I am making a file manager app base on react-redux, and I find it is super in-convenient to use `input` in react-redux.

For example:

There is a `PathForm`, it need show path from two way

 1. user click a file path from left tree view, `Explorer` get this path as `currentPath`, then pass to `PathForm`, and show `currentPath` in input
 2. user directly type a path to the `PathForm`'s input,  `Pat

[2016-07-06 10:38] andydavies92 opened #428 "Impure connected component aren't updated when the store changes state"
From the [docs](https://github.com/reactjs/react-redux/blob/master/docs/api.md#arguments):

Given this, I would expect impure components to _always_ be re-rendered whenever the store changes, as it cannot assume that some variable it depends on outside its props or the store hasn't been mutated. However, this does not seem to be the case as [this fiddle](https://jsfiddle.net/andydavies92/ox3ktvjc/

[2016-07-06 10:40] andydavies92 commented on #428
Submitted pull request #429 to fix this issue

[2016-07-06 10:45] jimbolla commented on #428
#416 probably already fixes this

[2016-07-06 11:02] andydavies92 commented on #428
@jimbolla, please could you verify by running the new test I added in #429?

[2016-07-06 11:37] jimbolla commented on #428
Probably = 99% sure. 416 should land as a beta very soon. Dan said he'd do it, so whenever it's top priority.

[2016-07-06 11:50] andydavies92 commented on #428
Still makes sense to me to fix the current implementation in the short-term even if it ends up getting replaced in a month or so when the next major is released. Plus, the test introduced in #429 is a worthwhile addition to make sure #416 or any future work doesn't create a regression. I guess it's up to @gaearon as to whether #429 is worth merging or not...

[2016-07-06 11:58] jimbolla commented on #428
Yeah the test sounds valuable. I'll try to pull it into my fork. I'm hoping the beta release happens sometime this week, but I can't say when it might make it to production

[2016-07-06 15:59] markerikson commented on #427
This is a usage question, not a bug report or feature request.  Usage questions should be asked on Stack Overflow, which you've already done.

Also, the code you've shown doesn't even have anything to do with Redux or the React Redux `connect` function at all.

You might want to go read some of these articles on how to properly use forms in React: https://github.com/markerikson/react-redux-links/b

[2016-07-06 15:59] #427 closed

[2016-07-06 23:35] gelguy commented on #428
The root of the problem actually lies in `this.haveOwnPropsChanged` not being set correctly.

[code]
From [https://github.com/reactjs/react-redux/blob/master/src/components/connect.js#L215](https://github.com/reactjs/react-redux/blob/master/src/components/connect.js#L215)

In this scenario, we want to update the component using a dispatch to the store. This is a state change, hence `componentWillR

[2016-07-07 00:46] eromoe commented on #427
Thanks, that gist is really helpful, why not add it to doc or provide an example app

[2016-07-07 00:56] eromoe commented on #427
Thanks, that gist is really helpful !

[2016-07-07 04:12] KaroseLiu commented on #103
@gaearon Hi I have a question about the way to connect the component.

Here is the code:
`import Component from '../components/bp-hack'
import { connect } from 'react-redux'
import { dicoveryDevice, stopDiscoveryDevice, connectDevice } from '../actions/bp-hack'

const mapStateToProps = (state) => ({
  ...state.bpHack,
})

const temp = connect(
  mapStateToProps, { dicoveryDevice, stopDiscoveryDevi

[2016-07-07 15:32] markerikson commented on #103
Don't use multiple levels of inheritance with React components.  It's a bad idea for a number of reasons.

Also, you should really ask that kind of question over on StackOverflow instead.  More people will see it, and you're more likely to get a good answer.

[2016-07-08 11:03] DouglasLivingstone commented on #428
Yes, I've tested #416 and it does fix this too.

Since merging props is always shallow, the shallow equality checks are sufficient to control whether a merge needs to happen or not. It is just that for impure objects, a shallow equality check isn't sufficient to tell whether the wrapped component should re-render.

I'd say yes, impure components should always return true from `shouldComponentUpdat

[2016-07-08 12:31] DouglasLivingstone commented on #366
A similar situation is when the `Provider` itself gets re-rendered, as in:

    service.onUpdate(() => ReactDOM.render(<Provider>....</Provider>, element))

This causes the context from `Provider` to be re-generated, so `context === internalInstance._context` fails. I'd guess that #416 fixes this too.

[2016-07-08 18:12] mondaychen commented on #398
Correct me if I didn't understand this correctly.

In current `connect` we have this `if` statement:

[code]

This means any component depends on `ownProps` will always be re-rendered if any part of the state is changed. Why do we skip shallow comparing in this case?

[2016-07-08 18:21] gelguy commented on #428
This is mostly true. One case I can think of is if `mergeProps` is not pure, which is what the `invocationCount` test checks.

This occurs currently. The bug lies in that `this.haveOwnPropsChanged` is not updated correctly as setting state does not trigger `componentWillReceiveProps`.

I apologise if I did not make my question clear, but the issue with #429 was that with any Redux store update, al

[2016-07-08 21:50] DouglasLivingstone commented on #428
Agreed, merging either of these patches would be a change in behaviour to re-render the component whenever the store updates, it is just by chance that we ran into this around the same time that #429 was proposed.

Currently we're using impure components while we migrate our existing Flux-like stores to Redux, since the logic for pure components can't see inside our non-Redux stores. I mistakenly

[2016-07-09 19:02] PCreations commented on #398
Exactly, and I don't why either...

[2016-07-10 13:42] bearzru opened #431 "asyncValidation 6.0.0"

[2016-07-10 13:53] #431 closed

[2016-07-10 17:12] #275 closed

[2016-07-10 17:18] timdorr commented on #231
This may have been before Redux switched to lodash. [There is a check in place](https://github.com/reactjs/redux/blob/master/src/createStore.js#L150-L155) to prevent the more opaque error you were getting.

[2016-07-10 17:18] #231 closed

[2016-07-10 17:18] #367 closed

[2016-07-10 17:20] #308 closed

[2016-07-10 17:23] #419 closed

[2016-07-11 13:50] 1ven opened #432 "Use shallowEqual comparison instead of deepEqual in shouldComponentUpdate."
I have `FiltersContainer` component, where `mapStateToProps` function returns object with prop, which contains array:
[code]
This component is updating everytime state changes, although `filters` array wasn't changed.

As I understand `shallowEqual` function does not deeply comparing two objects and will return false this way, therefore `Filters` component is updating on every state change.

Why l

[2016-07-11 17:54] 1ven commented on #432
Figured out, the answer is in [redux docs](http://redux.js.org/docs/FAQ.html#why-is-my-component-re-rendering-too-often).

[2016-07-11 17:55] Aldredcz commented on #432
@1ven This is caused because of referential inequality. You always create new instance of `Array` therefore shallowEqual consider those two arrays different even the structure is same.

But the problem is deeper - you absolutely don't have to return whole filter structures from `mapStateToProps` as they seem to be constant. Instead, just have this config statically on module level. And from store,

[2016-07-11 18:05] gaastonsr commented on #330
Thank @joshwcomeau for that. It's working for me.

[2016-07-12 04:35] #432 closed

[2016-07-13 09:53] fatfisz opened #434 "Make storeShape available for importing"
Hello, would it be possible to make the store shape available for importing (or requiring, etc.)? Right now it is only possible through `react-redux/lib/storeShape` or `react-redux/src/storeShape`, but it would be so much nicer to be able to write:
[code]

`react-router` does something like this, i.e. `routerShape` and `locationShape` are exported at top level too additionally to `react-router/lib

[2016-07-14 18:24] choffmeister opened #435 "PropTypes of wrapped component leak through"
Suppose the following simple and common example:

[code]

So `<Foobar/>` needs `name`, `age` and `dispatch` whereas `age` and `dispatch` are provided via the `@connect` HOC. But when I render the component as one would exepect with

[code]

I get warnings from React, saying that `Connect(Foobar)` is missing the required props `age` and `dispatch`, even though `<Foobar/>` itself never get rendered

[2016-07-14 18:27] choffmeister commented on #435
Btw, I am using the following versions:

* react 15.2.1
* react-redux 4.4.5

[2016-07-14 18:30] markerikson commented on #435
At a first glance, isn't this just a result of using `connect` as a decorator in combination with a static ?  It's almost like there is no "plain" version of the component, effectively, because it gets immediately run through `connect`.

[2016-07-14 18:33] choffmeister commented on #435
Yeah, as soon as I finished writing this issue, I noticed the root of the issue. The ES7 class properties are not applied to `<Foobar/>` and then `@connect` gets applied to that, but the other way around, again overriding the `propTypes` of the HOC...

[2016-07-14 18:34] choffmeister commented on #435
So I just have to apply `@connect` afterwards. This might get better, when there is a non-legacy version of decorators for babel... 😢

Will close this issue since it is not related to this project in any way.

[2016-07-14 18:34] #435 closed

[2016-07-14 18:35] jimbolla commented on #435
It might be worth documenting this in the react-redux docs though.

[2016-07-14 19:32] choffmeister commented on #435
FYI: There seems to be an ticket for the issue regarding these two babel plugins.

https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy/issues/17

[2016-07-15 16:31] rohandey opened #438 "Initiale state is empy array in reducer"
Have this simple reducer

`const INITIAL_POSTS_STATE = {postsList: {posts: [], error:null, posts_loading: false}}

function posts(state = INITIAL_POSTS_STATE, action){
  console.log(state) // prints in the console => []

  switch(action.type){
    case 'FETCH_POSTS':
      let new_state = Object.assign({}, state, { postsList: {posts:[], error: null, posts_loading: true} });
      return new_state;

[2016-07-15 17:38] rohandey commented on #438
Found the solution I was passing this defaultState to createStore

//create default data
const defaultState = {
  posts: []
}

//create the store object to be used in the app
const store = createStore(rootReducer, defaultState);

[2016-07-15 17:38] #438 closed

[2016-07-18 15:20] tomascharad commented on #102
What if you are using redux-saga, how would you access the state without using redux-thunk?

[2016-07-18 19:20] markerikson commented on #102
@tomascharad : I believe Redux-Saga provides a `select()` operation, which you would use roughly like:

[code]

[2016-07-18 20:31] tomascharad commented on #102
Correct, forgot to update! thanks @markerikson.

[2016-07-19 15:49] sompylasar commented on #278
Related: https://github.com/reactjs/redux/blob/master/docs/recipes/IsolatingSubapps.md

[2016-07-21 10:43] hoschi opened #439 "Connected component doesn't rerender with React 15.2.1"
I have two projects with nearly the same stack, last week I updated one of them from React 15.0.1 to 15.2.1. After the update this code:
[code]
doesn't work anymore. The component `MyComponent` doesn't receive changed data from store. It looks like `subscribe` wouldn't work, because mapStateToProps gets not called. I had to create dummy components around them:
[code]
to get it again to work.

Afte

[2016-07-21 16:57] Strato commented on #210
For the curious, I encountered this problem and ended up doing this:

[code]

I'm not superfan of this solution but that's the best I could pull off...

[2016-07-22 07:42] EugeneHlushko commented on #119
@alex-wilmer Thanks for leaving the link wide open in here, i would even go further here because this one is google top1 url for now and easy to reach:

**In your tests, import the connect()'ed component via curly braces like so to avoid the error:**
import { App } from './App'

While in your app you still use default imports:
import App from './App'

[2016-07-22 14:29] bretthadley opened #440 "[Question/Help] Dynamically requiring container components is returning undefined"
Hi,
I'm having an issue where I need to require a container into a map and dynamically render them based on a string the server sends back. To do this I have a "resolver" file that imports my container / adds them to a Map(). That is then required in a component where I call  resolver.get(this.props.component). However doing this for some reason returns undefined.

When I require the ComponentCont

[2016-07-22 15:15] jimbolla commented on #440
What does `containers` look like?

[2016-07-22 15:18] bretthadley commented on #440
[code]

[code]

@jimbolla The import / export definitely works because I can render the SnippetContainer inside the <Page /> if I do it directly. The <Cta /> component also work using the dynamic way.

[2016-07-22 15:43] jimbolla commented on #440
Is it possible that your imports form a circular reference? Ex: A.js imports B.js imports C.js imports A.js

That would explain why SnippetContainer is undefined during definition but available during render.

[2016-07-23 06:53] yangmillstheory opened #441 "Redux API docs: use selectors, parameter destructuring, and spread operators for examples section"
https://github.com/reactjs/react-redux/blob/master/docs/api.md#inject-dispatch-and-todos

If we want to endorse using selectors as a best practice for querying the store, does it make sense to change

[code]

to something like

[code]

For parameter destructuring, we could do

[code]

Spread operator changes would be pretty straightforward, and would replace `Object.assign` in snippets like https:

[2016-07-24 11:37] codeandcats commented on #290
Don't suppose this has been resolved nicely yet for decorating React components defined as classes?

[2016-07-24 18:15] madeinfree commented on #439
Hi, @hoschi,
Do you have any sample code for me to reproduce it ? maybe your simple reducer and action,
I try to updated my project and looks well for my project ~

If your state didn't change anything then not re-render anything for you.

version
React: 15.2.1, ReactDOM: 15.2.1
redux: 3.5.2, react-redux: 4.4.5

[2016-07-24 22:21] msuperina commented on #60
Sorry for commenting a closed issue but I keep coming here when googling for a similar issue.
I spent a lot of time to understand how to integrate Immutable with Redux, even implementing my own version of connect, and finally understood how to use the @connect from 'redux-connect'
I just wanted to understand @gaeron answer from 17 august 2015

`connect(state => ({
  stuff: state.get('stuff'),
  ot

[2016-07-24 22:31] markerikson commented on #60
The actual return value from `mapState` does need to be a plain object.  However, the values within that object can certainly be Immutable.js data structures.  So, in that example, if "stuff" was an Immutable Map, and "otherStuff" was an Immutable List, that would be just fine, as long as your actual component is expecting to get a Map and a List, rather than a plain JS object and a plain JS array

[2016-07-25 15:12] #440 closed

[2016-07-25 19:17] alsh76 opened #443 "Low performance in React Native with Redux"
I have discovered some issues with performance in my react native app. It seems to be caused by react-redux bundle.

As you can see in the video

[https://youtu.be/D5L-RM5EY5E](https://youtu.be/D5L-RM5EY5E)

there is a significant delay between action dispatching and view rendering. On real devices it looks even worse. There are no API calls in this example. Only simple actions dispatching and sta

[2016-07-27 13:11] tomitrescak opened #444 "Unable to initialise state in mapStateToProps"
#Hi. I have a more complex store in which one of the keys keeps state of multiple objects, identified by id.

My problem is, that when editor is loaded I need to initialise default properties in the store. When editor is loaded again, these values are reused. I tried to do this in mapStateToProps, yet it results to error. This is what I do:

1. In mapStateToProps I detect whether store has a speci

[2016-07-27 13:20] jimbolla commented on #444
Have your component dispatch an action in component(Did|Will)Mount that initializes the store state.

[2016-07-27 15:51] tayyabshabab opened #445 "Invalid prop type Object for an Array"
I have a reducer which returns an array of slides.
`const initialState = {
  slides: []
};`

I have added a PropType of Array in the component.
`Homepage.propTypes = {
  slides: React.PropTypes.array
};`

The problem is that I receive this warning when the component gets rendered. However I am returning array from the reducer.

![screen shot 2016-07-27 at 17 48 47](https://cloud.githubusercontent.

[2016-07-27 18:48] markerikson commented on #445
This is a usage question, and really not even related to React Redux at all - it's React-specific.

That said, I suppose you could do something like `PropTypes.oneOf([PropTypes.array, PropTypes.object])` or something.  There's also a third-party package of PropTypes types for Immutable data structures out there that you could use with this as well.

[2016-07-27 18:48] #445 closed

[2016-07-27 21:14] tomitrescak commented on #444
@jimbolla is there any other way? I'm sticking to the stateless components.

[2016-07-27 23:15] jimbolla commented on #444
You could use recompose's `lifecycle` method to wrap your component.

[2016-07-28 03:33] RubyZhuuu opened #446 "State not change but component update"
Hello, I have troubled in a problem.
In the connect method, I use mapStateToProps and mapDispatchToProps. The dispatch action does not cause changes of state in this component , but the component still update.
This really puzzle me.

[2016-07-28 04:14] markerikson commented on #446
This is a usage question, and should really be asked over on Stack Overflow.  You'll probably get more people looking at your question and able to help you if you ask over there.  You might also try asking for help in the Reactiflux chat channels on Discord - see http://www.reactiflux.com for a link to the channels.

You might also want to take a look at the Redux FAQ, which has some information o

[2016-07-28 04:14] #446 closed

[2016-07-28 06:58] RubyZhuuu commented on #446
I got my answer here:  http://redux.js.org/docs/FAQ.html#react-rendering-too-often . That's because some state is produced by Array.map() method. And thank you so much. @markerikson

[2016-07-28 11:27] KeKs0r commented on #57
I run into the same issue, but on the server side. And not sure if its possible with node to have the issue of 2 React instances.

Are there any troubleshooting ideas for the Server Side?

[2016-07-28 15:07] lourd commented on #443
Your `mapDispatchToProps` function looks pretty hairy. Why are you using an `immutable` Map there? Initializing the `Map`, merging, filtering, and then converting back to an object is quite computationally expensive. That will run a lot, possibly every time that store's state is updated. I would bet that is your performance bottleneck.

I think you could simplify it to:

[code]

Your `mapStateToPr

[2016-07-28 15:47] alsh76 commented on #443
Thank you for the advice but i see same delays after applying your changes. This makes me sad because i really like redux and would like to use it for further projects

[2016-07-28 15:53] lourd commented on #443
Hm, darn. If you link to a reproduction in a separate repo someone may be able to help out more.

Rest assured, setting a single value in the store and re-rendering a component is definitely, definitely performant — React, React Native, or otherwise.

[2016-07-28 16:14] alsh76 commented on #443
Yes, i definitely should create separate simple project for testing. still hope it's a result of libraries conflict.
I supposed i have to use only actions/reducers for containers rerendering and passing props for other components.  and did not use setState at all. but maybe i got Redux wrong

[2016-07-28 16:31] jimbolla commented on #443
@lourd If mapDispatchToProps doesn't depend on props (function.length === 1), I'm pretty sure it is only run once per component instance.

@alsh76 Your mapStateToProps will cause your component to rerender every time any action is fired. You should have it be more picky about what parts of state it needs.

[2016-07-28 16:50] lourd commented on #443
Right, thanks for the correction. Having just read through #416 and #407, I know you know what you're talking about 😉

[2016-07-28 16:50] alsh76 commented on #443
@jimbolla there is the only action in my example. and button pressing causes the only dispatching and the only rendering. the issue happens because of delay between dispatching and rendering. not because of multiple rerenderings.

[2016-07-28 17:10] hoschi commented on #439
I tried to create simple fiddle as sample but I can't reproduce the bug in this simple setting. An example is there for hard to create.

I debbuged around and have some findings:
* babel-transform-react-inline-elements plugin fixes the issue, in prod env it work
* indeed trySubscribe of the connected component is not called
* this is because componentDidMount hook gets not called
problem for me is

[2016-07-29 09:54] hoschi commented on #439
I use react-hot-loader 3.beta gaearon/react-hot-boilerplate#61 and beta.0 causes this problem, but beta.1 fixes it

[2016-07-29 09:54] #439 closed

[2016-07-29 13:20] foiseworth commented on #443
@alsh76 Have you tried you demo without any middleware (including redux-logger)?

[2016-07-29 13:47] alsh76 commented on #443
@foiseworth I tried to remove redux-logger and all console.log from the code. It did not help - same delays.

Actually it was a test page from my current project that uses [redux-thunk](https://github.com/gaearon/redux-thunk) and [react-native-router-flux](https://github.com/aksonov/react-native-router-flux) as well as some other libraries.

i am gonna create test project with minimal dependencies

[2016-07-30 09:42] Mutefish0 opened #448 "Can mapDispatchToProps() provide an extra param `state` if a function is passed ?"

[2016-07-30 15:53] rafaeltikva commented on #210
Any new recommendations how to deal with this situation? This is a real pain in the ass... I'm dispatching an action from componentWillMount that changes isFetching to true, but this doesn't get picked up by the render() method... I'm using react-router, so the componentWillMount is ideally the best option to change the application state when entering a new page. I ended up using @Strato's suggest

[2016-07-30 19:58] markerikson commented on #448
The question isn't really clear.  What are you trying to do?  What is insufficient about `mapDispatch`'s behavior?  What do you want to see?

[2016-07-31 01:04] Mutefish0 commented on #448
for example
[code]

[2016-07-31 01:55] markerikson commented on #448
Yeah, `mapState` and `mapDispatch` don't support that scenario directly.  That's actually part of what prompted @jimbolla to start implementing a new approach to `connect()`.

There are two ways you could do something like that right now:

1. Select the data using `mapState`, and have the component call `this.props.doStateDependentAction(this.props.someValueFromState)`
2. Select the data using `ma

[2016-07-31 03:28] Mutefish0 commented on #448
Got it,Thanks! @markerikson

[2016-07-31 03:29] #448 closed

[2016-08-01 15:22] arcanis commented on #111
@gaearon shouldn't this be handled by the library? It doesn't feel very intuitive this way, and doing the opposite (`delete`-ing the `defaultProps` property from the wrapper element) could certainly help.

[2016-08-01 16:03] giladbr opened #449 "Using state = XXX in the reducer"
Hi,
In the reducer we're using the following code (we are using redux-actions to reduce boilerplate):

[code]

We are using `update` from [React Immutability Helpers](https://facebook.github.io/react/docs/update.html) but assigning the result into the state using `state =`.
Is this against the [basic Redux guidlines](http://redux.js.org/docs/Troubleshooting.html )? Because the code seems to work p

[2016-08-01 16:41] markerikson commented on #449
A couple thoughts:

- This is related to Redux itself, not the React-Redux library
- This is a usage question, and should really be asked on Stack Overflow instead
- That said, what you're actually doing is simply assigning a new value to the local variable named "state", not actually modifying the contents of the object that variable was previously pointing to.  So, that's not direct mutation, an

[2016-08-01 16:41] #449 closed

[2016-08-01 16:44] markerikson commented on #111
No, the current behavior makes sense based on both the tooling, the language syntax, and the conceptual idea of defining "original" components vs defining wrappers for them.

[2016-08-02 19:14] alsh76 commented on #443
@lourd, @jimbolla, @foiseworth As it turned out the cause of this issue is all components from navigation chain are staying unmounted and get rerendered behind of the visible scene
See more details here [Possible navigation issue in React Native/Redux app](http://stackoverflow.com/questions/38728435/possible-navigation-issue-in-react-native-redux-app)

So it seems not a redux issue but nevertheles

[2016-08-02 19:14] #443 closed

[2016-08-03 06:47] andfaulkner commented on #253
I did the exact same thing, and was about to give after over an hour of fighting with it and having no idea what was causing the issue...then I came across your post. Thank you, this was really helpful. 9 times out of 10 it's something small :)

[2016-08-03 07:48] mbaroukh opened #450 "Docs consistency"
A really small suggestion :
On http://redux-form.com/6.0.0-alpha.4/docs/api/Field.md/ I can read

Field .... 1. .... The name prop is required.

Then a few lines later :
`<Field component={MyCustomInput}/>`
=> no name prop.

Maybe adding a name prop to the sample for consistency ?

[2016-08-03 18:24] markerikson commented on #450
Ah... your example is talking about Redux-Form, which is a _completely_ separate library than React-Redux.

[2016-08-03 18:24] #450 closed

[2016-08-03 18:30] mbaroukh commented on #450
Oups ... Really sorry ... Wrong tab ...

[2016-08-05 15:35] michael-iglesias opened #451 "Testing Connected components"
Hello,

I'm trying to test a connected component. For some reason, I'm receiving the following error only when testing connected components which throws me off a little...

'ReferenceError: navigator is not defined'

[code]

[2016-08-05 15:36] foiseworth opened #452 "printWasted - should I ignore connected component's wrapper?"
When using the React Performance tools and specifically printWasted I'm unsure as to whether I should be paying attention to connected component's wrapper.

Whenever the state changes, all my connected component's wrappers re-render (as intended) and (unless the stateProps have changed) return the cached rendered component. So in this case render has run but there has been no DOM update. Therefore

[2016-08-05 16:39] blesswinsamuel commented on #6
Another method:

[code]

[2016-08-05 17:10] gaearon commented on #452
How much time is reported being spent there? If it’s a lot, it might mean your `mapStateToProps` is saving you from re-renders below but you do a lot of work in it, and maybe you could find a way to do less work there.

[2016-08-08 10:53] foiseworth commented on #452
Many thanks for replying.

I'll investigate optimising mapStateToProps (unfortunately it just consists of some gets on immutable maps) but there are many instances of the component (200). However, from your reply, I'm presuming seeing a ```Connect(aComponent)``` in printWasted doesn't indicated a wasted render?

If I make a change to my store which has no effect on the current display (ie all comp

[2016-08-08 11:54] gaearon commented on #452
It’s hard to say without a specific example reproducing this. If you can create one and you believe ReactPerf is behaving in a wrong way please file a bug in React and I’ll take a look.

[2016-08-08 20:56] fmmajd opened #453 "state object returns wrong object in mapStateToProps"
hi

I'm new to redux. trying to make my first reducer work. I'm using react-native

now, I have only one state, drawerOpen, which is false by default. when tapping the drawer button, I wanna toggle that.

I have checked that state is successfully changed(via console.log), and I have not mutated the state object at all.
although the state was changed, my component wasn't re-rendering. so I checked

[2016-08-09 01:46] jyane commented on #453
Hi, fmmajd.
I think `function ss` will return `undefined`, so the `mapStateToProps` also returns `undefined`.
This behavior is not react-redux's bug.

[2016-08-09 10:45] mihirk opened #454 "connect does not account for child context."
When I try and connect a component with context being passed from the parents, and required for my overall application routing, the new component generated by `connect` does not merge the context with the top level component it creates. I am not sure whether this something people want or not?

[2016-08-09 15:48] foiseworth commented on #366
I did some further testing can confirm that this can be quite an issue if you're using context:

**What you would expect**
1. connect a component
2. change the store state
3. it re-renders and either it or something in between it and the next component has getChildContext
4. somewhere down the tree  a connected sub component is rendered
5. the sub component connect's shouldComponentUpdate will ret

[2016-08-09 18:47] sveinburne commented on #412
What does HOC stands for ?

[2016-08-09 19:12] gnoff commented on #412
Higher order Component

check out https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750#.b5clq7pea

[2016-08-09 19:13] sveinburne commented on #412
thanks :-)

[2016-08-10 14:21] frankwallis commented on #451
I think you need some more globals exposed from jsdom, mine look like this:

[code]

[2016-08-11 07:12] foiseworth commented on #366
One great example of the causing the above bug is if you wrap your top level component in connect. As it will wrap the Provider component which has getChildContext, anytime it re-renders (due to a store update which leads to a change in the output of mapStateToProps) the entire tree will re-render unless you have some non-connect shouldComponentUpdate logic.

[2016-08-12 13:14] DavidBrear commented on #454
Do you have an example of this? Also, what versions of the libraries are you using? I just got an app running using `create-react-app` and here's the gist of the code: https://gist.github.com/DavidBrear/5208b5ec1268c4c8ba8265d1bb6f0496. This displays the result:
<img width="473" alt="screen shot 2016-08-12 at 9 11 27 am" src="https://cloud.githubusercontent.com/assets/1081640/17623255/17b0a2bc-606

[2016-08-12 14:43] adamterlson opened #455 "Remove redux as a react-redux dependency"
## Some Background

I am working on a library which implements the redux store API, without actually using redux to store the data.  The purpose is to connect to state stored in Backbone models and collections in a redux-like fashion.

In theory, by implementing the redux store API, one can even use redux middleware and other supporting libraries such as react-redux, without redux itself.  This ca

[2016-08-12 14:57] jimbolla commented on #455
But that won't necessarily always be true. For example, some code I'm working on right now in react-redux related to subscription notification, if accepted, might get moved into redux proper to remove code duplication. Then react-redux will definitely depend on redux.

[2016-08-12 16:34] foiseworth commented on #452
@gaearon I kept looking into this and discovered there are two reasons why I might be missing some printWasted entries:
1) some are being filtered out by DONT_CARE_THRESHOLD which you seem to have removed from React in this https://github.com/facebook/react/pull/6647/files#diff-f5e99eb03b46b76237d2e7632d018f91L16 (we're still using v15.0.2)

2) after updating to the latest React, some entries were

[2016-08-12 16:34] #452 closed

[2016-08-14 07:07] donperi opened #456 "Is there any benefit on use mapDispatchToProps param instead of this.props.dispatch in a ContainerComponent?"

[2016-08-14 15:13] timdorr commented on #269
This is now solved via #416 and what's currently published on npm as `react-redux@next`

[2016-08-14 15:13] #269 closed

[2016-08-14 15:14] #292 closed

[2016-08-14 15:15] #368 closed

[2016-08-14 15:15] #366 closed

[2016-08-14 15:15] #398 closed

[2016-08-14 15:16] #428 closed

[2016-08-14 15:16] #451 closed

[2016-08-14 15:18] #444 closed

[2016-08-14 15:25] timdorr commented on #456
I would use `mapDispatchToProps` solely because you can easily bind your action creators easily and that makes your code a bit more clean.

[2016-08-14 15:25] #456 closed

[2016-08-14 15:26] timdorr commented on #453
I would ask this on Stack Overflow. This is a bug tracker and there doesn't appear to be any bug with react-redux here.

[2016-08-14 15:26] #453 closed

[2016-08-14 15:27] timdorr commented on #441
#416 is going to use selectors internally. What you do for your own mapping of state to props is really up to the user to decide on. If anything, I would open a PR on Redux's examples to make use of reselect.

[2016-08-14 15:27] #441 closed

[2016-08-14 15:28] michael-iglesias commented on #451
Thanks @frankwallis

I ended up including the following which seems to have resolved the issue for me. I'll look into adding the globals you listed above as well!

[code]

[2016-08-14 15:30] timdorr commented on #434
If you want to access Provider's context directly, that's not really supported behavior at the moment. It's best to use connect, as it provides a number of performance improvements over vanilla access.

[2016-08-14 15:30] #434 closed

[2016-08-14 15:32] #322 closed

[2016-08-14 18:36] fatfisz commented on #434
No, that's not what I wanted to do. Why the assumption?

IIRC I had a top level component which needed the store to be passed so that it could render the `Provider` component with it. The linter was complaining about prop types, because in this situation the store was the provider's provider prop.

I honestly don't remember the details, but that's the gist of it. Now, wouldn't an easy access to th

[2016-08-15 02:31] timdorr commented on #455
I've got to agree with @jimbolla here. Redux has both an API and a guaranteed way of behaving. And that behavior can be fairly critical to this library and isn't always documented exactly. If you happen to build something that works with it, great, but a hard requirement on Redux is going to be needed.

At the very least, if your minification process is sufficient, any bytes spent on Redux code sh

[2016-08-15 02:31] #455 closed

[2016-08-15 02:33] timdorr commented on #454
You can definitely access multiple parent contexts from a single component. So, something must be set up wrong. Without an example, I'm not sure what's going on, but it sounds like an error on your side, unfortunately. I'd look at @DavidBrear's example to see what you might be doing differently.

[2016-08-15 02:33] #454 closed

[2016-08-15 06:08] Restuta opened #457 "After certain time leads to Redux warning "setState() on an unmounted component""
I am testing v5 alpha from #416 and noticed that after some time every re-render in one of my components starts triggering following warning:

`Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code `

My best guess is that there is a memory leak somewhere and new connect holds a reference to unmou

[2016-08-15 06:22] max-mykhailenko commented on #443
@alsh76 please test your example with the last `react-redux@next`. I have almost same problem and update doesn't fix it :(

[2016-08-15 06:42] adamterlson commented on #455
@timdorr Thanks for the explanation!

[2016-08-15 06:51] vicapow commented on #264
@timdorr could you leave a comment why the task was closed? If it's a duplicate / resolved could you link to the related ticket or if it's a "wont fix" could you describe why?

[2016-08-15 07:10] max-mykhailenko commented on #457
I have the same issue

[2016-08-15 10:01] jimbolla commented on #457
A repro would be very helpful.  Thanks.

[2016-08-15 14:43] alsh76 commented on #443
@max-mykhailenko as i figured out my performance issues were caused by navigation system.
when the user navigate through pages like this  Scene A => Scene B => Scene C all components A, B, C are  staying mounted. Because all reducers are combined into one any action dispatching causes passing props to every mounted component.

For example if the user makes any changes and dispatch them in Scene C

[2016-08-15 18:31] Restuta commented on #457
@max-mykhailenko do you have simple steps to repro?

[2016-08-15 18:59] timdorr commented on #457
@Restuta Do you have a reproducible test case as well?

Does this occur in the canonical `real-world` example? https://github.com/reactjs/redux/tree/master/examples/real-world

[2016-08-16 06:19] Restuta commented on #457
@timdorr not it does not, I created a branch that you can use to repro it.

Branch: https://github.com/Restuta/rcn.io/tree/react-redux-connect-bug

Steps to repro:

* `git clone git@github.com:Restuta/rcn.io.git`
* cd `rcn.io`
* `npm i && npm run dev`
* open http://localhost:8888/events/8 in your browser
* open console
* click on MTB in the header and then back to "Event 8"

You should see in cons

[2016-08-16 06:42] raaone7 opened #458 "Accessing redux store inside functions"
I would prefer to  have a function  exposed from a .js file , within that function i would prefer to have access to the variables in the store.

Snippet of the code : -

import { connect } from 'react-redux';
function log(logMessage) {
	const {environment} = this.props;
	console.debug('environment' + environment + logMessage );
....
}

function mapStateToProps(state) {
    return {
		environment :

[2016-08-16 06:46] max-mykhailenko commented on #443
@alsh76 Thanks for response. I use NavigatorExperimental and also saw lags, but with `react-native-router-flux` I got good performance. How do you check your active screen for `shouldComponentUpdate`?

[2016-08-16 11:19] jimbolla commented on #457
Thanks,  I'll have a look at this tonight.

[2016-08-16 13:22] DDecoene opened #459 "After Object.assign in my reducer, I get "You cannot change <Router routes>; it will be ignored" from react-router"
I've seen a lot of possible answers to the "You cannot change <Router routes>; it will be ignored" problem with react router.

I cannot seem to fix this no matter what solution I try. So, I'm totally clueless and turn to the good maintainer(s) of this brilliant piece of software.

My code is at https://github.com/DDecoene/React-flux-example

What I see is that if I change https://github.com/DDecoe

[2016-08-16 13:25] jimbolla commented on #457
@Restuta That git repo address doesn't seem to work for me. Is it supposed to be `https://github.com/Restuta/rcn.io.git`?

[2016-08-16 14:40] alsh76 commented on #443
@max-mykhailenko  i am using `react-native-router-flux`. as well as `RN Navigator` it keeps all components from navigation stack mounted and all of them are rendered together.

with `react-native-router-flux` you can use your own reducer to detect start of navigation as in their example [REDUX_FLUX](https://github.com/aksonov/react-native-router-flux/blob/master/docs/REDUX_FLUX.md) `ActionConst.BA

[2016-08-16 16:23] markerikson commented on #459
This looks like a usage question, not a bug report.  Also, this doesn't even seem related to React-Redux at all.  Please try asking this question on Stack Overflow instead.

[2016-08-16 16:23] #459 closed

[2016-08-16 16:24] markerikson commented on #458
This is a usage question, not a bug report.  Please ask this on Stack Overflow instead - more people will see the question, and you'll get a better response.

[2016-08-16 16:24] #458 closed

[2016-08-16 18:59] Restuta commented on #457
@jimbolla that address in SSH format, of you prefer HTTPS then yes, use that one

[2016-08-16 20:28] fengliu222 opened #460 "In addition to the specify by 'mapStateToProps', others actions will re-render component"
For performance reasons, i use `reselect`.

There is a very serious problem for me.

![2016-08-17 4 24 12](https://cloud.githubusercontent.com/assets/670114/17714468/8085c236-6432-11e6-91a1-95cc0effb128.JPEG)

The highlight log info is trigger by my component render is invoked.
When page initial work done, the component re-render 19 times...

And there are my code:

[code]

In addition to reducer

[2016-08-16 20:51] fengliu222 commented on #460
@jimbolla Thanks your answer!! In this component , your way is worked! But the most serious problem is on `ReduxListView` component, i change this issue , the example code is the `selector` of `ReduxListView` component.

[2016-08-16 21:22] timdorr commented on #460
This is a usage question, not a bug report. Please ask this on Stack Overflow. You'll have more people viewing the problem and will get better answers as a result.

[2016-08-16 21:22] #460 closed

[2016-08-16 23:52] #353 closed

[2016-08-17 00:27] raaone7 commented on #458
Thank you. Have raised it. Can an expert please look into it and advice.

http://stackoverflow.com/questions/38986366/accessing-redux-store-inside-functions

[2016-08-17 03:03] jimbolla commented on #457
I have a fix ready for this [here](https://github.com/jimbolla/react-redux/tree/fix-457) but I'm going to attempt to write a test for it before submitting the PR. Honestly, writing the test is the hard part for me. :laughing:

[2016-08-17 04:55] atbjk opened #463 "Connect on the server"
When you use connect to connect to a store server side, what happens? Does it stay subscribed to the store on each request? Would this not cause memory to build up?

Is there a way to use connect store without subscribing to the store?

[2016-08-17 05:02] joshmanderson commented on #6
@badtant A fix I just discovered, which allows you to use the decorator:
[code]
Note the use of the static property `WrappedComponent`, which is "The original component class passed to connect()", and can be found in the documentation here: https://github.com/reactjs/react-redux/blob/master/docs/api.md#connectmapstatetoprops-mapdispatchtoprops-mergeprops-options

[2016-08-17 05:08] joshmanderson commented on #6
@blesswinsamuel In regards to your code using static propTypes...
Does that work for you? Using static propTypes as you have done there still gives me the same warning messages...

[2016-08-17 12:15] jimbolla commented on #463
Components subscribe during `componentDidMount` and unsubscribe during 'componentWillUnmount`.

[2016-08-17 12:56] atbjk commented on #463
oh ok, for example if you did react.renderToString it would not subscribe

[2016-08-17 13:25] jimbolla commented on #463
My understanding is that server-side-rendering via `renderToString` never calls `componentDidMount` and thus never subscribes.

[2016-08-17 15:45] #463 closed

[2016-08-18 06:46] jony89 commented on #161
This solution will only apply on the component dispatch function. if the component uses redux-thunk ( for async functions ) then the dispatch within this functions will not go through the interceptor, so any change/use of the actual payload is impossible.

You may do something like :

function myDispatch(action) {
    /* do your thing here */
    if (typeof (action) === "function") {
        retur

[2016-08-18 08:45] vhmth opened #464 "Binding Store getState and subscribe calls properly in @next version"
I noticed, per following the conversation [here](https://github.com/reactjs/react-redux/pull/416), that a rewrite of `connect` would fix the bottom-up state updates I was seeing in my nested container components.

I went ahead and tried to make that work with the [react-chrome-redux](https://github.com/tshaddix/react-chrome-redux) lib which creates a simple Store object from the content scripts of

[2016-08-18 09:21] gaearon commented on #459
I would start by removing `babel-preset-react-hmre` from your project. It is deprecated and not supported.

[2016-08-19 08:05] samcorcos opened #466 "RFC: `mapStateToProps` or `mapStoreToProps` naming convention?"
I’ve taught about 10 people how to use `react-redux` at this point and a common sticking point is the use of `mapStateToProps`. This seems to be due to confusion in terminology between local `state` and the state of the `store`.

In teaching these React-newbies, I’ve found that when I describe the `mapStateToProps` in terms of `mapStoreToProps`, they understand it very quickly, since it's not imme

[2016-08-19 09:29] gaearon commented on #466
This will however be wrong because `store` is a different thing. It’s an object with `getState()` and `dispatch()` methods. We can’t refer to store state as store because this is even more confusing. And we can’t pass store itself because we want to hide `dipspatch` by design.

[2016-08-19 13:21] jimbolla commented on #466
I agree with @gaearon that `mapStoreToProps` would be incorrect. I suppose `mapStoreStateToProps` would be correct and would be slightly more clear, but ugh... getting too verbose for my liking.

I will say that the method signature for `connect` has been an issue for several of my team, who I'll admit probably just need to read the docs a little more carefully. I've thought a lot about alternate

[2016-08-19 15:15] #464 closed

[2016-08-19 15:30] pke opened #468 "Dispatching a redux action in componentWillMount leads to weird app behaviour"
## Version
react-router: 2.6.1
react: 0.14.8
redux: 3.5.2
react-redux: 4.4.5

## Steps to reproduce

`react-router` said its not related to them, so I'll try here.

I have this Pages component that does page transitions using `ReactStyleTransitionGroup` which uses `ReactTransitionGroup` internally.

[code]

My AccountRoute looks like this:

[code]

## Actual Behavior

When I navigate from `/accoun

[2016-08-19 15:55] timdorr commented on #468
Just logically, this makes sense. If your component hasn't mounted, it's not in the DOM and there's no ref for it yet.

What's not clear is what is going on around all of this. Are you using something like react-helmet to do the page title? Where does this `AccountContainer` live?

[2016-08-19 21:49] vhmth commented on #457
@jimbolla what do you think the timeline is for getting this in? This is the last thing before #465 gets in, which is causing some UI issues for our beta users so I'm more than happy to write some tests if you're feeling tied up. :-)

[2016-08-20 04:59] jimbolla commented on #457
@vhmth Unfortunately I have commitments this weekend, so I won't be able to work on it again until Monday evening. I have off Tuesday and plan to work on it then as well.

I started writing a test but am having difficulty reproducing the behavior from scratch. I'm going to take a different approach and start with @Restuta's project and just start ripping out all the unrelated code until I'm left w

[2016-08-20 05:07] vhmth commented on #457
Sounds like a plan @jimbolla. If I have some time later on Sunday, I'll see if I can repro too. Maybe that will save ya some time and you could turn that into a test if I come up with that minimal example.

[2016-08-20 05:08] jimbolla commented on #457
That sounds like it would be very helpful. Thanks. :smile:

[2016-08-20 10:06] Restuta commented on #457
Don't hesitate to send a PR with minimal repro setup for the branch I created @vhmh

[2016-08-20 11:56] pke commented on #468
No I am not using `react-helmet`. I know the component has not mounted when `componentWillMount` is called. But I wonder why that should be play a role when dispatching actions. According to the docs its safe to dispatch action in this lifecycle hook.

About the confusion about `AccountContainer`. It is imported as `AccountRoute`. But I have updated the OP to make it less confusing

[2016-08-20 12:22] timdorr commented on #468
If you follow through the entire dispatch lifecycle, it will eventually reach your connected component (within the same JS message queue). If there is a request to access a ref within whatever code is called in that component and the ref has not been mounted, that would be why you see the error.

It sounds like a quirk of the transition component that you're using. I would stick to cDM instead to

[2016-08-20 12:22] #468 closed

[2016-08-20 20:45] samcorcos commented on #466
Yeah, I agree regarding `mapStoreStateToProps`.

What if we turned the name around? `mapStateFromStore`?

[2016-08-20 20:48] gaearon commented on #466
Then it’s not clear what you map it to, and some people will try to return arrays or primitive values from the method which won’t work.

[2016-08-21 05:07] wzup opened #469 "Example of TodoApp?"
What's that? How does `TodoApp` look? Is it just a function as everywhere in you your example here http://redux.js.org/docs/basics/ExampleTodoList.html, or should it be a full-featured React component? If one follows your examples and uses functions, there is no `dispatch` within the `TodoApp` function. It only injects `todos`, not `dispatch`. Why do you say that it injects `dispatch` then? Please

[2016-08-21 05:08] samcorcos commented on #466
Ok, fair enough. Thanks for considering.

[2016-08-21 05:08] #466 closed

[2016-08-21 12:02] timdorr commented on #469
That's fair. I can see that being hard to understand if you haven't been following along with the Redux documentation. Want to submit a PR to clear it up?

[2016-08-21 19:37] markerikson commented on #469
Please note that `dispatch` accepts two main arguments, `mapStateToProps` and `mapDispatchToProps`.  If a `mapDispatch` argument is not provided, `connect` will provide its own, which by default will inject the `dispatch` reference.  So, in that example, the provided `mapState` will inject a `todos` prop, and the default `mapDispatch` will inject a `dispatch` prop.

[2016-08-22 06:15] vhmth commented on #457
Hey guys I'm sorry about the push off. A lot of stuff landed on my plate (life stuff) this weekend and couldn't get to working on repro-ing that bug. I will try tomorrow afternoon. I know @jimbolla said he wouldn't be able to get to it until tomorrow too, but it may be good to have two set of eyes on trying to repro it.

[2016-08-22 07:39] pavel06081991 opened #470 "How to create some instances of the same container?"
For example I have chat container. On my page I want there to be two chats. The first one for users and the second one is for administrators. How to use chat container to create some(in my case two) instances? And each instance must have its own property in state object.
State object example:
[code]

[2016-08-22 09:22] beebase commented on #259
Sorry for being a bit off topic but I'm looking for a code example that demonstrates switching between different stores in react-native. This thread seems to touch the subject.
Specifically, I want to switch between users (log in/out) where each user has its own store.
Could you point me to any articles/tutorials available online.
Thanks a lot!

[2016-08-22 16:18] timdorr commented on #470
Hi, it sounds like you're just getting started with React and/or Redux. For usage questions, please use Stack Overflow or Reactiflux. This is a bug tracker.

[2016-08-22 16:18] #470 closed

[2016-08-22 20:41] alzapiedi opened #471 "Store not available in props/context of components rendered using react-router"
What I am rendering:
[code]
when attempting a sign in I am getting 'Cannot read property 'dispatch' of undefined' when calling this.context.store.dispatch

I threw a debugger and store is not present on this.props or this.context (SessionForm component).

I thought I tried everything from all the documentation on this subject I could find, still no help though

[2016-08-22 20:59] timdorr commented on #471
Are you attempting to access the `<Provider>` context directly? You should be `@connect`ing your components and providing your action creators as bound functions to `dispatch`, which you can then access via props.

[2016-08-22 20:59] #471 closed

[2016-08-22 21:03] alzapiedi commented on #471
I would like to dispatch from the SessionForm component on a form submit event, was under the impression that provider allows for the store to be accessed by this.context.store

[2016-08-22 21:04] timdorr commented on #471
Yes, but that's removing a big benefit of having this library. You should use `@connect` instead like so: https://github.com/reactjs/react-redux/blob/master/docs/api.md#inject-todos-and-all-action-creators-addtodo-completetodo--as-actions

[2016-08-22 21:53] alzapiedi commented on #471
Understand the benefit of connect for presentational components however this component is just a log in form. It does not need to be connected to redux state. Just needs to call dispatch when submit is clicked. Is this still an appropriate use for connect?

[2016-08-22 21:56] timdorr commented on #471
You don't have to connect to state: https://github.com/reactjs/react-redux/blob/master/docs/api.md#inject-just-dispatch-and-dont-listen-to-store

[2016-08-22 21:59] markerikson commented on #471
Yeah, both `mapState` and `mapDispatch` are optional.  Connected components can optionally subscribe to state updates or ignore state entirely, and specify what functions they want to use `dispatch` with or just receive `dispatch` as a prop.  Fine either way.

[2016-08-22 23:55] alzapiedi commented on #471
Excellent thank you Tim! and apologies for totally missing that part of the readme, I believed this particular functionality worked independently from connect

[2016-08-23 15:43] zedd45 commented on #387
For future reference for people who come here, this is possibly related to [imports being malformed](https://gist.github.com/jmarceli/7aa4aed6e5e825e85e56#1).

In my specific case, it was the import {x as y} syntax that Babel 6 wasn't liking.

[2016-08-24 00:55] jimbolla commented on #457
New PR #472 with fix and test is ready.

[2016-08-24 07:17] chriswu14 commented on #210
I like to know if there is an update on this as well

[2016-08-24 11:43] jimbolla commented on #210
There's a passing test in connect.spec.js that says this should work: 'should handle dispatches before componentDidMount'.  Please provide a failing test if it's not working for your use case.

[2016-08-24 11:57] Matsemann commented on #210
@jimbolla a case was provided as a PR further up, #222. The test in the top as well should be good enough to understand the issue. The current test is basically wrong, it doesn't assert what it's supposed to do.

However, this was closed as working as intended. I'd argue it's not as intended, just a weakness in how connect works and more of a wont-fix.

[2016-08-27 00:49] timdorr commented on #457
Fixed in #472. I'll push out a beta release tonight.

[2016-08-27 00:49] #457 closed

[2016-08-27 01:10] timdorr commented on #457
`react-redux-5.0.0-beta.1` has been published to `react-router@next`!

[2016-08-27 01:26] Restuta commented on #457
on it, testing

[2016-08-27 02:02] jimbolla commented on #457
Thanks, Tim!

[2016-08-27 14:29] jimbolla opened #473 "v5 release chores"
Starting a list of things related getting v5 out the door.
- [x] Unhide new features - currently they are hidden so that nobody starts using them, just in case we roll this back. I'll make a PR (#474) that will unhide them that can be merged in once we're confident that these changes will go live.
- [x] Create release notes - needs to describe: still API compatible, synopsis of internal architectu

[2016-08-27 14:33] timdorr commented on #473
I already updated the code linting (#461), so that's taken care of. I intentionally didn't use airbnb because I didn't want to change styles just for the sake of changing styles.

Flow and Typescript typings both have PRs open (#389 and #433) respectively. They have atrophied, but I'm not a user of either typing system, so I can't really champion either effort. That has to come from the community.

[2016-08-27 14:35] timdorr commented on #473
If you want to update the API.md with some initial changes or documentation placeholders, I can collaborate with you on that to put it over the finish line. That's really the key thing needed to get to 5.0.0 final.

[2016-08-27 16:45] jimbolla commented on #473
# react-redux v5 release notes (WIP)

## TL;DR
* Backwards compatible API
* Major internal changes
* Significant [performance improvements](https://github.com/reactjs/react-redux/pull/416) in common usage patterns
* [Bugs fixed](https://github.com/reactjs/react-redux/pull/416#issuecomment-233144992)
* Additional features added to `connect()`
* New `connectAdvanced()` API

## API Compatibility
Vers

[2016-08-27 16:46] jimbolla commented on #473
There's a start for the release notes. I'll start on the api.md and submit that as another PR once I have something substantial.

[2016-08-27 22:07] markerikson commented on #473
It'd be nice to get the API docs more "official"-looking.  At the moment, they're just buried in the repo, which is not terribly obvious.  Can we Gitbook-ify them, publish them, and also add a pointer from the Redux docs to the React-Redux docs?

[2016-08-27 22:15] jimbolla commented on #473
I'm unfamiliar with Gitbook... what does that conversion entail?

[2016-08-27 22:18] timdorr commented on #473
I think we can just reorganize the Readme a bit. A gitbook isn't really needed for only a couple pages of docs. The main Redux docs cover usage info for this repo anyways. We're better off leaving this one to just the basics.

[2016-08-27 22:40] markerikson commented on #473
Okay.  Can we at least stick some specific shorter "manual" `<a>` tags in there, so that it's possible to link directly to one of the API descriptions without having a hash anchor that's longer than the API description? :)

[2016-08-28 03:48] Restuta commented on #457
looking good so far, thanks guys!

[2016-08-28 13:29] wookiem opened #475 "Unable to access refs when using compose with Redux connect and Radium"
Problem
---------

React component is unable to access refs in a second React component that uses Redux `compose` to combine Redux `connect` and `Radium`.

In the example below, `setFocus` in Items.js cannot access `addItem.refs` when AddItem.js is composed with Redux `connect` and `Radium`.

However, when I comment out `connect(mapStateToProps)` in AddItem.js (as shown below), then `addItem.refs[

[2016-08-28 14:06] jimbolla commented on #475
In AddItem.js, you'll have to do:
[code]
and then in Items.js do:
[code]

[2016-08-28 14:13] wookiem commented on #475
Your solution works perfectly.  Thanks @jimbolla !

[2016-08-28 16:25] #475 closed

[2016-08-28 21:33] vhmth commented on #457
Been using it in our staging extension and things are looking good. Will be rolling out our extension using this with our 150-ish beta users and let y'all know if we run into any issues.

[2016-08-29 04:09] jimbolla commented on #473
I started updating docs [here](https://github.com/jimbolla/react-redux/tree/update-docs-for-v5), but ran out of time tonight.

[2016-08-29 10:29] valery-bary opened #478 "Multiple stores for complicate page"
This issue discussed very match, but I don't know how I can solve my problem with one store. I have some report page with filter and a lot tables for every our brand. So page have a lot data. Filter have several controls for define filter and Generate button. If I have one store so every change on filter takes about 5 sec. with no data changed. I want to have different stores for filter and for ev

[2016-08-29 14:29] timdorr commented on #478
The answer isn't breaking up how you store the data, but how you query it out. It's still a big bundle of state to work with, even if you slice it into multiple stores.

I would look into a library like reselect for optimizing and caching how you're querying that data. You should also break up your connected components so that you don't have everything running through one single `connect`, as that

[2016-08-29 14:29] #478 closed

[2016-08-30 10:40] derekdreery opened #479 "Request for error message"
When doing

[code]
instead of
[code]
the error messages are not related to the mistake. Is it possible to include a test in debug mode that connect has actually been called on a component?

[2016-08-30 13:56] timdorr commented on #479
Unfortunately, we can't know if you're currying the call for later use on a component. I don't see how you would detect this case at all. If you're using decorator syntax, then it will end up being unlikely that you'll run into this at least.

[2016-08-30 13:56] #479 closed

[2016-08-31 14:36] jimbolla commented on #473
There's an ok start to the docs update in PR #480. Would love some CC.

[2016-08-31 22:57] marceux opened #481 "shallowEqual() returning false when comparing empty values"
I have a state that returns an empty array under specific circumstances for a specific property. Let's call this property, `selected`.

I dispatched an action that triggered a state change, but did not alter `selected` at all. Now, every connected component that relies on `selected` is rendering.

When `shallowEqual()` compares the states and their keys and their values, empty Arrays and empty Obj

[2016-09-01 01:50] timdorr commented on #481
Keep in mind that `[1, 2, 3] === [1, 2, 3]` is `false` because each empty array is a unique instance and the equality check is looking for each side to be the exact same instance, similar to a plain object equality check.

So, if you have a reducer that does `return []` somewhere, keep in mind that is new instance of an empty array and will not equal an empty array created by the previous run of t

[2016-09-01 01:50] #481 closed

[2016-09-04 10:33] jordanmkoncz commented on #210
I'm also looking for a good solution to this problem. I have a component that dispatches an action (to fetch data from an API) in its `componentWillMount` which will update a slice of my state to set `isLoading: true`. The initial state for this slice is `{isLoading: false, data: []}`, which means that a component I `connect` to this state will initially render with the value of `isLoading` being

[2016-09-05 04:08] samcorcos opened #482 "Code in docs causing error with new Airbnb ESLint update"
I just updated eslint with the latest airbnb style guide and noticed that the [4.0 update in July](https://github.com/airbnb/javascript/blob/ca1124cd8d2e33addbffb3b1743849e2bf774039/packages/eslint-config-airbnb-base/CHANGELOG.md#400--2016-07-02) now registers an error for `no-named-as-default`.

I bring this up because the documentation suggests exporting [both a named and default export](http://

[2016-09-05 11:24] timdorr commented on #482
I don't really think we need to mention this. That's really out of scope for our documentation.

[2016-09-05 11:24] #482 closed

[2016-09-05 15:21] Jimmy02020 commented on #41
I think this article can help fixing the issue [](https://www.toptal.com/react/react-redux-and-immutablejs)

[2016-09-05 15:44] naw commented on #210
@jordanmkoncz

At a high level, I believe the issue is you're trying to squish 3 distinct states into only 2.

Here are your three states:

1. don't have data
2. fetching data
3. have data (even if it's empty data)

You _cannot_ adequately represent this as 2 states:

1. fetching data
2. have data

This issue is intrinsic to fetching initial data asynchronously; it's not specific to redux or react

[2016-09-05 15:49] naw commented on #210
@jordanmkoncz

Also, depending on your exact needs, the simplest change to get the correct spinner behavior is to make the initialState for `isLoading` be `true`, even though you haven't actually started fetching yet.  This will result in correct spinner behavior, at the risk of not being able to dinstinguish between "not fetching yet" and "currently fetching".

Or, for more clarity, you could ren

[2016-09-06 00:56] jordanmkoncz commented on #210
@naw At one point I was actually trying to solve this using one of those suggestions; for every `isFetching` (defaulting to `true`) I also had an `isFetched` (defaulting to `false`), and then in `mapStateToProps` I'd have logic like `const isLoading = isFetching || !isFetched;` and pass this `isLoading` variable to my component in order to get the behaviour I wanted in the component.

However I ra

[2016-09-06 17:26] naw commented on #210
@jordanmkoncz

Yes, the issue you point out is certainly a very real issue, and one that I've experienced myself.

There are various challenges that arise when you build a single page application using a store that persists across different URL's.  In a traditional server-rendered application, every time you land on a new URL, all of your data is thrown away and fetched from scratch synchronously,

[2016-09-06 17:34] markerikson commented on #210
@naw : this deserves to be turned into a blog post of its own, really.  We could use more publicly available info on how to think in terms of app state.

[2016-09-06 17:52] Matsemann commented on #210
@jordanmkoncz Yeah we faced the same problem, as written far up here somewhere. One can make it work for the first render, but that only postpones the problem to when the component is hidden and shown again. It becomes a lot of boilerplate and pit falls to make sure a simple spinner can be shown.

@naw

I disagree with this. The code declares an invariant that should hold, but then Redux goes ahea

[2016-09-06 18:23] markerikson commented on #210
@Matsemann : Not sure what "invariant" you're referring to.  I also don't see this as anything specific to Redux.  It looks like this applies to _any_ use of the "container component" pattern, where a presentational component is asking a parent component to fetch data.  That means that the data is coming in via props instead of being applied internally via `setState`.  Really, the "odd" part about

[2016-09-06 21:32] samcorcos commented on #482
Hmm, ok. I was really suggesting that we change the documentation to the new syntax suggested by the Airbnb style guide using `{ default as ... }` rather than mentioning the style guide specifically, but it's fine either way 😄

[2016-09-06 22:15] naw commented on #210
@Matsemann Yes, I think you make a great point!

You are correct that the React API for `componentWillMount` specifies that state changes will take place before the first render.  It's easy to expect a synchronous dispatch to a Redux store from within `componentWillMount` to behave the same way.

I agree this is confusing, and I think it's worth discussing how (or if) its feasible to improve it.

[2016-09-06 22:47] markerikson commented on #210
Hmm.  That's _exactly_ how I view things - wrapper container and presentational component.  Admittedly, I'm a really bad example case - I'm obviously intimately familiar with how `connect` is implemented (at least at the conceptual level, and partially at the implementation level), and my own app doesn't do any component-driven fetching anyway.  But yeah, it seems pretty straightforward to me that

[2016-09-07 00:25] naw commented on #210
Thanks for your perspective and also the link, @markerikson

For context, let me explain my personal philosophy (just an opinion):

I believe a truly presentational component should:

  1. Never fetch data
  2. Never use `dispatch`

A presentational component receives props. Those props are generally either a piece of data to render, or a function to call when something interesting (like a click)

[2016-09-07 02:12] jimbolla commented on #210
Coincidentally, FB is maybe [considering depreciating componentWillMount](https://github.com/facebook/react/issues/7671)

[2016-09-07 02:12] markerikson commented on #210
@jimbolla : dude, you beat me to it by 13 seconds.  :(

[2016-09-07 02:20] jimbolla commented on #210
@markerikson
![frabz-oh-you-almost-had-it-you-gotta-be-quicker-than-that-782d6e](https://cloud.githubusercontent.com/assets/1851364/18297648/29da4282-7480-11e6-90b4-f4de75c3b1d3.jpg)

[2016-09-07 04:51] jordanmkoncz commented on #210
Great posts @naw, you've definitely helped clarify the subtle implications of how `connect` is implemented and the fact that the component created by `connect` represents a parent-child props relationship between the parent component and the wrapped component. Your `<BlogPost>` example is spot on and I agree that there are actually 4 different states we can be in.

After taking this into considera

[2016-09-07 06:38] luckydrq opened #484 "React.PropTypes validation warning"
I have `react@15.3.1` and `react-redux@4.4.5` in my project and got the following warning:

[code]

How to avoid these warnings? I've read this [guide](https://facebook.github.io/react/warnings/dont-call-proptypes.html) but still have no idea. Not sure if it is emitted by react-redux's [storeShape](https://github.com/reactjs/react-redux/blob/master/src/components/Provider.js#L52). Please point out

[2016-09-07 16:28] timdorr commented on #484
Something outside of react-redux is calling proptype validation. We don't do that internally.

[2016-09-07 16:28] #484 closed

[2016-09-07 21:56] naw commented on #210
@jordanmkoncz

At first glance this looks like a solid approach.  However, there _are_ some nuances to consider.

In the scenario where you visit `/blog/5`, and then visit `/some_other_page`, and then visit `/blog/5` (for a second time), you have no way of distinguishing if `object` is stale or fresh.  `storedObjectId` will match immediately even though the object is stale, which means you'll have

[2016-09-07 22:50] gaearon commented on #264
Yea this was a bit odd. We definitely want Flow types for this. I just don't know enough about Flow at this point to say what next steps should be. There is already a PR to flowtyped, right?

[2016-09-07 22:50] gaearon commented on #264
@timdorr For future reference, please comment with a reason for closing so we know what the intention was :wink:

[2016-09-07 22:51] timdorr commented on #264
Sorry, I didn't put a link to the appropriate PR. Efforts are ongoing over there: #389 (and reactjs/redux#1887 is related too)

[2016-09-07 22:51] #264 closed

[2016-09-08 00:18] bherrmann7 commented on #60
Our project uses an Immutable.Map as our store and connect like so,

      App = connect(state=>state.toObject())(App);

Which seems to neatly pass everything from the map into the App.

[2016-09-08 02:05] luckydrq commented on #484
Thank you for your reply!  I've found the reason. I have another react version(15.1.0) which used as a dependency, when i upgrade it to 15.3.1 the warnings disappear.

[2016-09-08 07:59] gaearon commented on #264
Thanks!

[2016-09-09 15:26] jimbolla commented on #473
@markerikson Can you give me an example of what to add in there for manual tags and I'll update the docs this weekend?

@timdorr Thoughts on adding the beta release to the github releases tab?

[2016-09-09 15:41] markerikson commented on #473
@jimbolla : You can stick HTML straight into Markdown, so what I did was insert `<a>` tags right before each appropriate section header.  I gave each anchor a custom relevant shorter name, as opposed to the long auto-generated names from the slugified header text:

[code]

[2016-09-11 00:43] jimbolla commented on #473
@markerikson I threw some a tags in PR #480

[2016-09-11 04:20] ducnvhn opened #485 "Server side rendering : client side cannot initiate state"
I'm trying to build isomorphic / universal app with server side rendering but the client code could not create store from initiate state that send from server. here is my server code:
[code]
reducer code:
[code]
code to create routes:
[code]
and HomeContainer code - where the error occur when I try to HANDLE_CLICK in reducer

[code]
and finally, the client code which not seem to run on client side

[2016-09-11 05:14] markerikson commented on #485
Hmm.  While I haven't ever dealt with isomorphic apps, if you're trying to transfer state that way, you should just pass it as the second argument to `createStore` rather than dealing with a `SET_STATE` action.

Also, since this is a usage question, this should really be asked on Stack Overflow instead.

[2016-09-11 05:15] markerikson commented on #485
Actually, glancing at SO, I see you've got this posted there too: http://stackoverflow.com/questions/39432349/client-not-render-with-initial-state .  Closing this.

[2016-09-11 05:15] #485 closed

[2016-09-11 12:28] fatfisz commented on #434
@timdorr Could you please reply?

[2016-09-12 06:15] TimMikeladze opened #486 "Links in README under Documentation 404"
Under the Documentation section, API and Troubleshooting don't take you anywhere.

[2016-09-12 06:49] aikoven commented on #290
@codeandcats Nope, but there are some issues in TS repo to track, e.g.: https://github.com/Microsoft/TypeScript/issues/4881

[2016-09-12 16:01] timdorr commented on #486
Github has a bug currently: https://github.com/github/markup/issues/926

[2016-09-12 16:02] gaearon commented on #486
I reported this via support, didn’t realize there is a repo 😄

[2016-09-12 20:06] timdorr commented on #486
It's been fixed!

[2016-09-12 20:06] #486 closed

[2016-09-12 20:19] timdorr commented on #473
Sorry I've been captain lazypants on this stuff. I hope to get to some of it in the next few days (namely another beta release).

[2016-09-12 20:22] jimbolla commented on #473
@timdorr It's all good. I appreciate that everyone has their own things going on. I just want to make sure this doesn't get lost.

[2016-09-14 05:00] mrdulin opened #487 "es6 component inherit es5 component with HOC connect"
[code]

Above code works fine. But, here is my problem code:

[code]
when I use `react-redux` `HOC` `connect` function to inject props to my `ES5Component`, it give me an `Error` : `Uncaught TypeError: this.setTitle is not a function`. Who can tell me why?

[2016-09-14 10:37] gaearon commented on #487
This is not supported. Please don't use inheritance with React. React component model favours composition instead.

If you need some shared functionality between components, extract *that* into a component (or a plain JavaScript function) and use it from both components.

[2016-09-14 10:37] #487 closed

[2016-09-14 15:34] Thorbenandresen commented on #347
@gaearon Does this mean that I just have to accept that I won't be able to hot-reload when working on my flow-control logic (thunks, sagas)?

[2016-09-15 14:54] nicoms91 commented on #301
Hi @gaearon , thanks for your answer. I am having a similar problem (check http://stackoverflow.com/questions/39513753/how-can-i-force-re-rendering-when-redux-state-is-changed-but-react-does-not-trig).

As far as I understand, React will re-render a component if nextProps and actual props differ. Why is it then needed to call the componentWillReceiveProps(nextProps) method, should the component do

[2016-09-15 21:12] Prudwell opened #489 "Dispatch not being set by connect for exported component but the actions are"
The closest thing I could find was #163 but I don't think mine is the same.

So I have a connected container that loads fine when it is called by my root container using react-native-router-flux

TodoContainer loads fine in this setup when an action tells react-native-router-flux to go there

[code]
 Here's a pared down version of the TodoContainer.js

[code]

However when I try to load the TodoCo

[2016-09-15 21:18] markerikson commented on #489
This is working as expected.  If you do _not_ supply a `mapDispatch` function, `connect` will use its default.  That default `mapDispatch` simply gives you `this.props.dispatch`.  If you _do_ supply your own `mapDispatch` function, it's up to you what gets returned.  If you want to have some bound functions as props _and_ have `this.props.dispatch`, do so:

[code]

[2016-09-15 21:18] #489 closed

[2016-09-15 21:52] Prudwell commented on #489
Ah yes one of those times where I was doing it wrong all along and it only worked the previous way by luck!

My understanding was that **bindActionCreators(someActions, dispatch)** already did return the actions AND dispatch. I thought it was successfully providing dispatch to my TodoContainer when I rendered it as a Scene and couldn't figure out what changed when I loaded the component a differen

[2016-09-15 22:03] markerikson commented on #489
Sure, no problem.  Fairly common issue, and actually, I'd almost forgotten - I did actually add this one to the Redux FAQ already: http://redux.js.org/docs/FAQ.html

[2016-09-17 06:58] tpb-dev opened #491 "Uncaught Invariant Violation: addComponentAsRefTo(...) ref error"
Hi, is there any way at all to dispatch to the state from a component of a component? If not, what other options do i have? I tried using bindActionCreators as well, but same error. I tried Dan's solution from[ here](https://github.com/reactjs/redux/issues/916), no luck.
I am getting this error whenever I dispatch to the state:

Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactO

[2016-09-17 17:09] markerikson commented on #491
Your code looks fairly reasonable to me.  That sort of error seems unlikely to have anything to do with React-Redux and `connect`.  I'd suggest asking this on Stack Overflow, as this is really more of a "usage"-type question.

[2016-09-17 17:09] #491 closed

[2016-09-17 18:44] gaearon commented on #491
But have you checked if you have multiple `react`s there? You can run `npm ls react` to learn that.

[2016-09-17 23:23] tpb-dev commented on #491
Yes, I have done that too, but it didn't work. I suspect that the two
underlying implementations of bootstrap components in react are using those
refs.... In any case, I guess I will just render plain bootstrap for now.

[2016-09-19 07:21] gaearon commented on #491
File an issue in that project and *attach a project reproducing it*. This warning almost always means duplicate React but it's impossible to help if you don't show your configuration.

[2016-09-19 13:26] dushyantsingh23 commented on #45
Hey, can you look into this. My reducer is returning new state but the component is not being rendered.

http://stackoverflow.com/questions/39574376/component-not-able-to-re-render-when-state-is-changed

[2016-09-19 19:41] braco opened #492 "seamless-immutable with connect breaks pure components?"
Noticed some bad performance with react-redux + [seamless-immutable](https://github.com/rtfeldman/seamless-immutable).

Firstly, here's a related problem I'm having. PureComponent works well:
[code]

Component above will only rerender when immutable props are changed.

[code]

Component above will rerender constantly. Am I correct in assuming PureComponent's shouldComponentUpdate is overwritten? I

[2016-09-19 20:06] braco commented on #492
Fixed for now by making a HoC, will revisit

[2016-09-19 20:06] #492 closed

[2016-09-19 20:12] jimbolla commented on #492
@braco Can you try perf testing against the v5 beta by running `npm install react-redux@next`?

[2016-09-20 11:11] orporan commented on #304
What is the problem with nested Provider? Since all the Provider does it to set children context then when children of the inner provider will get the context from that Provider and not from the parent Provider

[2016-09-20 14:49] pcompassion opened #493 "How to use redux in non-fully-react project?"
So we can't use <Provider> since the root is not react component (non-fully-react project).
Then we are not able to use `connect` either?
The description above is confusing as what I need to do for non-fully-react project.

I interpreted what the above statement as the following, hope I'm right.
1. create store with `createStore` as in the doc
2. pass the store <MyComponents store={store} /> for a

[2016-09-20 16:57] timdorr commented on #493
You need to use `<Provider>` if you are creating `connect()`ed components within the parts of your app that are running on React. This library is solely for your React parts. It doesn't apply to non-React stuff and you can use the store you create directly elsewhere.

[2016-09-20 16:57] #493 closed

[2016-09-22 02:48] sniperyan opened #494 "The reducer function itself is being run twice for a single dispatched action"
My error code is on the repo:[https://github.com/sniperyan/react-cnode](https://github.com/sniperyan/react-cnode)
In my code,you can find test button in `js/containers/listApp/index.js` , there is a click handler named `testFunc` , in this function, I dispatch an action .  When you click the button, the actionCreator will trigger the reducer ` js/reducers/indexList/index.js` . I add a  'console.lo

[2016-09-22 03:10] markerikson commented on #494
Ah.  I see the problem.  You're accidentally double-dispatching the same action.  Let me give some background info, then I'll explain what the problem is here:

I have an example of equivalent ways to dispatch an action, at https://gist.github.com/markerikson/6c7608eee5d2421966d3df5edbb8f05c .  Note that we go from, roughly,  `dispatch({type : "SOME_ACTION"})`, to `const theAction = someActionCrea

[2016-09-22 03:10] #494 closed

[2016-09-23 05:55] lhz516 opened #495 "Can I connect every component with container?"
I often have this situation: I wrote a pure component and used it somewhere. But later I needed to do some data fetching for this component, so I had to add a container for it and modified the path where it's been imported. This wasted some time.

Can I just wrap EVERY component in a container using `connect`? If a component needs no data fetching at all, just put `export default connect()(Foo)` f

[2016-09-23 11:30] markerikson commented on #495
Feel free to connect as many components as makes sense for your own application.  `connect` actually does automatically implement `shouldComponentUpdate`, which can be helpful.

However, don't over-think the whole "containers" vs "presentational" aspect.  That's one reason why a feature-based folder structure _may_ be nicer than a "components" and "containers" folder structure.  But yeah, don't ge

[2016-09-23 11:30] #495 closed

[2016-09-23 13:02] Daniel-Baranowski-BJSS opened #496 "Connect is not causing render on ownProps change."
My ownProps is an object containing objects. connect looks something like this:
[code]
Props received:
[code]

Also its worth mentioning that a grand parent of this component also has a @Connect on it.

[2016-09-23 13:46] markerikson commented on #496
That example doesn't really make sense.  `ownProps` is the props passed directly to the connected component by its parent, like `<SomeConnectedComponent a={42} b={123} />`.  You don't need to include those in the return value from `mapState`, since `connect` will combine the incoming props and the `mapState` results to form the combined props passed to your real component.

[2016-09-23 15:48] Daniel-Baranowski-BJSS commented on #496
If I don't include my props like described above they are invisible in my component. They are only passed once, and If the described component becomes re-rendered, due to its stateProp updating the new ownProps wouldn't be populated. The issue was fixed when I added ownProps mapping, but now the component doesn't re-render when my-props change.

[2016-09-23 16:00] naw commented on #496
You should inspect what props your underlying component receives. If `ownProps` has a key called `myProps`, then your component should have a props key called `myProps` without needing to explicitly include it in `mapStateToProps`, like @markerikson said.

It sounds like you might be mutating the nested pieces of the `myProps` object in place, which won't trigger a re-render in and of itself.  How

[2016-09-23 21:05] benmonro opened #497 "reducer w/ array of items doesn't re-render when item in array is updated."
posted a question on Stack Overflow, but I think it *may* be a bug in react-redux (or maybe I'm just a dum dum) :)

http://stackoverflow.com/questions/39667805/react-redux-update-item-in-array-doesnt-re-render

[2016-09-23 21:39] markerikson commented on #497
You're directly mutating the state by calling `push` on the array instance.  Since the array reference is the same before and after, `connect` assumes nothing has changed and doesn't re-render.  Please see the Redux FAQ on the topic: http://redux.js.org/docs/FAQ.html#react-not-rerendering

[2016-09-23 21:39] #497 closed

[2016-09-23 21:44] benmonro commented on #497
Thanks!

[2016-09-24 15:05] ynonp opened #499 "Connect doesn't warn if same property is sent from both parent and state"
The default merge method in connect:

[code]

Will just overwrite existing parent props with state props when same key is used.

IMHO it'd be better to show a warning to console, saving developers debugging time & effort

[2016-09-25 02:24] timdorr commented on #499
Not sure I agree with this, as that's the whole point of the mergeProps function: It lets you customize this default behavior (almost always for this exactly kind of problem).

[2016-09-25 02:27] markerikson commented on #499
I mostly agree, but given that it would be a dev-only check, I'm not sure it's actually a bad idea.  Or rather, it seems like a decent idea, and I don't see any particular downside to it.

[2016-09-26 18:33] a-koka opened #502 "Hot reload not working"
Hi,

I apologize if this is an old request. I searched quite a bit but couldn't find a solution that works for my use case. I'm getting the following error when making changes via hot reloading.

`<Provider> does not support changing store on the fly. It is most likely that you see this error because you updated to Redux 2.x and React Redux 2.x which no longer hot reload reducers automatically. Se

[2016-09-26 22:34] timdorr commented on #502
You are probably not putting your Provider right near your entry point and ReactDOM.render. It shouldn't be contained within a component, as something like React Hot Loader will attempt to recreate the store on a reload.

[2016-09-26 22:34] #502 closed

[2016-09-26 23:21] stevenmusumeche opened #503 "How to test connected component actions"
I can easily test my connected components using a fake store to guarantee that the correct props are passed to my presentational component. However, I'm unable to test that the correct actions are being passed.

Here is my simple connected component:

[code]
And here is the test:

[code]

[2016-09-27 00:27] markerikson commented on #503
This is a usage question, and should really be asked on Stack Overflow instead.

That said, you're probably looking up the connected version of the component instead of the plain version.  Use `TheConnectedComponent.WrappedComponent` to access the plain class type, and use that for your lookup.

[2016-09-27 00:27] #503 closed

[2016-09-27 02:43] stevenmusumeche commented on #503
@markerikson thank you for the reply.  In my example, NewCustomerContainer is the container and CustomerForm is my plain one, so I think I am already doing what you suggest.

[2016-09-27 13:15] mafzst opened #504 "Allow us to filter ownProps before connect"
Hi all!

## Problem
I'm currently developing an application in which I use third party React components. I wrap them into a Redux container.

In some cases (see eg below) I need to pass some infos to the container for behavioral purpose (generally in dispatch). For this I use the `ownProps` parameter.
The problem is that props are injected by `connect` in the connected component and then throw a R

[2016-09-27 13:24] jimbolla commented on #504
You can:
[code]

[2016-09-27 13:28] mafzst commented on #504
@jimbolla Can I remove props with this function ?

[2016-09-27 13:32] mafzst commented on #504
@jimbolla Thanks a lot :+1:
I(ve misunderstood this function

[2016-09-27 13:32] #504 closed

[2016-09-27 14:17] jvanderberg opened #505 "Pseudo leak with large objects in the store."
Please see: http://jsfiddle.net/3xwkg3p6/80/.  Follow the instructions and track the memory usage in the Chrome task manager and you will quickly get over a 1 GB, even though the only 'live' data in the mini-app consumes about a tenth of that amount of memory.

This is a somewhat extreme example, but it shows the problem clearly.  There are ten checkboxes which subscribe only to their own checked

[2016-09-27 14:44] jimbolla commented on #505
Would you mind trying this against `react-redux@next` and seeing if it makes a difference?

[2016-09-27 14:55] jvanderberg commented on #505
I've tried it with our application locally and it did not seem to impact memory utilization (it still seemed to be using as much memory as master).  Even though the changes in the @next branch are relatively concise, I found it hard to track through the code to see if it was preserving stale state references.  I'd imagine you'd be the expert on that.

That JSFiddle is just a copy of another react-